<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="3deye.min.js"></script><br>


<div id="demo"></div>

<script>
    $(document).ready(function(){

        $("#demo").vc3dEye({
            imagePath:"images/porsche/", // the location where you’ve put the images.
            totalImages:56, // the number of images you have.
            imageExtension:"jpg" // the extension of the images. Make sure all the images have same extension.
        });

    });
</script>