

<!--================================
START HERO AREA
=================================-->
<section class="hero-area bgimage">
    <div class="bg_image_holder" style="background-image: url('https://picsum.photos/1200/768?random=1'); opacity: 1;">
        <img src="https://picsum.photos/1200/768?random=1" alt="images/hero_area_bg1.jpg">
    </div>
    <!-- start hero-content -->
    <div class="hero-content content_above">
        <!-- start .contact_wrapper -->
        <div class="content-wrapper">
            <!-- start .container -->
            <div class="container">
                <!-- start row -->
                <div class="row">
                    <!-- start col-md-12 -->
                    <div class="col-md-12">
                        <div class="hero__content__title">
                            <h1>
                                <span class="light">Vorder</span>
                                <span class="bold">Предварительная запись онлайн</span>
                            </h1>
                            <p class="tagline">С нами у вас есть возможность записаться к специалистам онлайн</p>
                        </div>

                        <!-- start .hero__btn-area-->
                        <div class="hero__btn-area">
                            <a href="/services.html" class="btn btn--round btn--lg">Все услуги</a>
                            <a href="/services.html" class="btn btn--round btn--lg">Популярные Услуги</a>
                        </div>
                        <!-- end .hero__btn-area-->
                    </div>
                    <!-- end /.col-md-12 -->
                </div>
                <!-- end /.row -->
            </div>
            <!-- end /.container -->
        </div>
        <!-- end .contact_wrapper -->
    </div>
    <!-- end hero-content -->

    <div class="search-area">
        <!-- start .container -->
        <div class="container">
            <!-- start .container -->
            <div class="row">
                <!-- start .col-sm-12 -->
                <div class="col-sm-12">
                    <!-- start .search_box -->
                    <div class="search_box">
                        <form action="/services.html">
                            <input type="text" name="title" class="text_field" translate="search" translateelement="placeholder" placeholder="Поиск">
                            <div class="search__select select-wrap">
                                <select name="category" id="category" class="select--field">
                                    <option value="" translate="all-categories"></option>
                                    <option value="5ec35a9c3d7a2536c7d0e798">Здоровье</option>
                                    <option value="5ec35aa53d7a2536c7d0e799">Красота</option></select>
                                <span class="lnr lnr-chevron-down"></span>
                            </div>
                            <button type="submit" class="search-btn btn--lg" translate="search">Поиск</button>
                        </form>
                    </div>
                    <!-- end ./search_box -->
                </div>
                <!-- end /.col-sm-12 -->
            </div>
            <!-- end /.row -->
        </div>
        <!-- end /.container -->
    </div>
</section>
<!--================================
END HERO AREA
=================================-->

<section class="proposal-area">
    <!-- start container-fluid -->
    <div class="container-fluid">
        <div class="section-title">
            <h1>С нами вы легко можете:</h1>
        </div>
        <div class="row">
            <div class="col-md-6 no-padding">
                <div class="proposal proposal--left bgimage">
                    <div class="bg_image_holder" style="background-image: url('/design/images/bbg.png'); opacity: 1;">
                        <img src="/design/images/bbg.png" alt="images/bbg.png">
                    </div>
                    <div class="content_above">
                        <div class="proposal__icon ">
                            <img width="150" src="/assets/images/view-orders.svg" alt="Buy icon">
                        </div>
                        <div class="proposal__content ">
                            <h1 class="text--white">Принимать заказы онлайн</h1>
                            <p class="text--white">Оказываете услуги только в оффлайне? С нами у Вас есть возможность <b>легко</b> получать заказы Онлайн</p>
                        </div>
                        <a href="" class="btn--round btn btn--lg btn--white">Создать услугу</a>
                    </div>
                </div>
                <!-- end /.proposal -->
            </div>

            <div class="col-md-6 no-padding">
                <div class="proposal proposal--right">
                    <div class="bg_image_holder" style="background-image: url('/design/images/sbg.png'); opacity: 1;">
                        <img src="/design/images/sbg.png" alt="images/sbg.png">
                    </div>
                    <div class="content_above">
                        <div class="proposal__icon">
                            <img width="150" src="/assets/images/online-booking.svg" alt="Sell icon">
                        </div>
                        <div class="proposal__content ">
                            <h1 class="text--white">Записываться к специалистам онлайн</h1>
                            <p class="text--white">С нами у Вас есть возможность <b>легко</b> выбрать нужного специалиста и записаться онлайн</p>
                        </div>
                        <a href="/services.html" class="btn--round btn btn--lg btn--white">Выбрать услугу</a>
                    </div>
                </div>
                <!-- end /.proposal -->
            </div>
        </div>
    </div>
    <!-- start container-fluid -->
</section>


<section class="section--padding">
    <div class="">
        <div class="container">
            <div class="section-title">
                <h1>Как работает Vorder</h1>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="timeline">
                        <li class="happening">
                            <div class="happening--period">
                                <p>Шаг 1</p>
                            </div>
                            <div class="happening--detail">
                                <p class="title">Провайдеры размещают свои услуги</p>
                            </div>
                        </li>

                        <li class="happening">
                            <div class="happening--period">
                                <p>Шаг 2</p>
                            </div>
                            <div class="happening--detail">
                                <p class="title">Потребители выбирают услугу из списка</p>
                            </div>
                        </li>

                        <li class="happening">
                            <div class="happening--period">
                                <p class="title">Шаг 3</p>
                            </div>
                            <div class="happening--detail">
                                <p>Потребители записываются на доступное дату и время</p>
                            </div>
                        </li>

                        <!--<li class="happening">-->
                            <!--<div class="happening&#45;&#45;period">-->
                                <!--<p>Шаг 4</p>-->
                            <!--</div>-->
                            <!--<div>-->
                                <!--<p>Провайдер получает оповещение о заказе услуги и подтверждает его</p>-->
                            <!--</div>-->
                        <!--</li>-->

                        <li class="happening">
                            <div class="happening--period">
                                <p>Шаг 4</p>
                            </div>
                            <div class="happening--detail">
                                <!--<h4 class="title">Added Payoneer as a Payment Method</h4>-->
                                <p>Провайдер получает оповещение о заказе услуги и подтверждает его</p>
                            </div>
                        </li>

                    </ul>
                    <!-- end /.timeline -->
                </div>
                <!-- end /.col-md-12 -->
            </div>
        </div>
        <!-- end .container -->
    </div>
</section>

<!--================================
START FEATURE AREA
=================================-->
<section class="features section">
    <div style="text-align: center; background: #5d47b4; color: white; padding: 62px; font-size: 25px;">
        НАШЕ ПРЕИМУЩЕСТВО
    </div>

    <!-- start container -->
    <div class="container">
        <!-- start row -->
        <div class="row">
            <!-- start search-area -->
            <div class="col-lg-4 col-md-6">
                <div class="feature">
                    <div class="feature__img">
                        <img width="120" src="https://image.flaticon.com/icons/svg/3096/3096835.svg" alt="feature">
                    </div>
                    <div class="feature__title">
                        <h3>Наш сервис бесплатный</h3>
                    </div>
                    <div class="feature__desc">
                        <p></p>
                    </div>
                </div>
                <!-- end /.feature -->
            </div>
            <!-- end /.col-lg-4 col-md-6 -->

            <!-- start search-area -->
            <div class="col-lg-4 col-md-6">
                <div class="feature">
                    <div class="feature__img">
                        <img width="120"  src="https://image.flaticon.com/icons/svg/851/851011.svg" alt="feature">
                    </div>
                    <div class="feature__title">
                        <h3>Экономьте время записываясь онлайн</h3>
                    </div>
                    <div class="feature__desc">
                        <p></p>
                    </div>
                </div>
                <!-- end /.feature -->
            </div>
            <!-- end /.col-lg-4 col-md-6 -->

            <!-- start search-area -->
            <div class="col-lg-4 col-md-6">
                <div class="feature">
                    <div class="feature__img">
                        <img width="120" src="https://image.flaticon.com/icons/svg/530/530526.svg" alt="feature">
                    </div>
                    <div class="feature__title">
                        <h3>Удобный поиск услуг в вашем регионе</h3>
                    </div>
                    <div class="feature__desc">
                        <p></p>
                    </div>
                </div>
                <!-- end /.feature -->
            </div>
            <!-- end /.col-lg-4 col-md-6 -->
        </div>
        <!-- end /.row -->
    </div>
    <!-- end /.container -->
</section>


<!--================================
START CALL TO ACTION AREA
=================================-->
<section class="call-to-action bgimage">
    <div class="bg_image_holder" style="background-image: url('https://picsum.photos/1024/400?random=1'); opacity: 1;">
        <!--<img src="/design/images/calltobg.jpg" alt="images/calltobg.jpg">-->
    </div>
    <div class="container content_above">
        <div class="row">
            <div class="col-md-12">
                <div class="call-to-wrap">
                    <h1 class="text--white">Подписаться на обновления </h1>
                    <h4 class="text--white"></h4>
                    <div class="newsletter__form" style="max-width: 500px; margin: 0 auto;">
                        <form method="post" action="/subscribe">
                            <div class="field-wrapper">
                                <input required class="relative-field rounded" name="email" type="text" placeholder="Введите ваш электронный адрес">
                                <button class="btn btn--round" type="submit">Отправить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================================
END CALL TO ACTION AREA
=================================-->



<section class="why_choose section--padding">
    <!-- start container -->
    <div class="container">
        <!-- start row -->
        <div class="row">
            <!-- start col-md-12 -->
            <div class="col-md-12">
                <div class="section-title">
                    <h1>Для каких видов услуг подходит наш сервис?
                    </h1>
                    <p>Если вы принимаете заказы напрямую от клиента или по телефону,
                        то наш сервис полностью подходит для вашего бизнеса. <br>
                        С нами вы сможете подробно описать все ваши услуги и предоставить возможность вашим клиентам записываться
                        к конкретному специалисту.
                    </p>
                    <h3>Не полный список сфер для которых наш сервис идеально подходит:</h3>
                </div>
            </div>
            <!-- end /.col-md-12 -->
        </div>
        <!-- end /.row -->

        <!-- start row -->
        <div class="row">
            <!-- start .col-md-4 -->
            <div class="col-lg-4 col-md-6">
                <!-- start .reason -->
                <div class="feature2">
                    <span class="feature2__count">01</span>
                    <div class="feature2__content">
                        <img width="100" src="https://image.flaticon.com/icons/svg/2927/2927101.svg" alt="">
                        <h3 class="feature2-title">Медицина</h3>
                        <p></p>
                    </div>
                    <!-- end /.feature2__content -->
                </div>
                <!-- end /.feature2 -->
            </div>
            <!-- end /.col-md-4 -->

            <!-- start .col-md-4 -->
            <div class="col-lg-4 col-md-6">
                <!-- start .feature2 -->
                <div class="feature2">
                    <span class="feature2__count">02</span>
                    <div class="feature2__content">
                        <img width="100" src="https://image.flaticon.com/icons/svg/2916/2916839.svg" alt="">
                        <h3 class="feature2-title">Красота</h3>
                        <p></p>
                    </div>
                    <!-- end /.feature2__content -->
                </div>
                <!-- end /.feature2 -->
            </div>
            <!-- end /.col-md-4 -->

            <!-- start .col-md-4 -->
            <div class="col-lg-4 col-md-6">
                <!-- start .feature2 -->
                <div class="feature2">
                    <span class="feature2__count">03</span>
                    <div class="feature2__content">
                        <img width="100" src="https://image.flaticon.com/icons/svg/3169/3169598.svg" alt="">
                        <h3 class="feature2-title">Автомобильные услуги</h3>
                        <p></p>
                    </div>
                    <!-- end /.feature2__content -->
                </div>
                <!-- end /.feature2 -->
            </div>
            <!-- end /.col-md-4 -->

            <!-- start .col-md-4 -->
            <div class="col-lg-4 col-md-6">
                <!-- start .feature2 -->
                <div class="feature2">
                    <span class="feature2__count">04</span>
                    <div class="feature2__content">
                        <img width="100" src="https://image.flaticon.com/icons/svg/2935/2935395.svg" alt="">
                        <h3 class="feature2-title">Кафе и рестораны</h3>
                        <p></p>
                    </div>
                    <!-- end /.feature2__content -->
                </div>
                <!-- end /.feature2 -->
            </div>
            <!-- end /.col-md-4 -->

            <!-- start .col-md-4 -->
            <div class="col-lg-4 col-md-6">
                <!-- start .feature2 -->
                <div class="feature2">
                    <span class="feature2__count">05</span>
                    <div class="feature2__content">
                        <img width="100" src="https://image.flaticon.com/icons/svg/2933/2933422.svg" alt="">
                        <h3 class="feature2-title">Уборка, обработка</h3>
                        <p></p>
                    </div>
                    <!-- end /.feature2__content -->
                </div>
                <!-- end /.feature2 -->
            </div>
            <!-- end /.col-md-4 -->

            <!-- start .col-md-4 -->
            <div class="col-lg-4 col-md-6">
                <!-- start .feature2 -->
                <div class="feature2">
                    <span class="feature2__count">06</span>
                    <div class="feature2__content">
                        <img width="100" src="https://image.flaticon.com/icons/svg/675/675291.svg" alt="">
                        <h3 class="feature2-title">Гос услуги</h3>
                        <p></p>
                    </div>
                    <!-- end /.feature2__content -->
                </div>
                <!-- end /.feature2 -->
            </div>
            <!-- end /.col-md-4 -->
        </div>
        <!-- end /.row -->
    </div>
    <!-- end /.container -->
</section>
<!--================================
END COUNTER UP AREA
=================================-->
