    <!--================================
        START BREADCRUMB AREA
    =================================-->
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb">
                        <ul>
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li class="active">
                                <a href="#">Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end /.col-md-12 -->
            </div>
            <!-- end /.row -->
        </div>
        <!-- end /.container -->
    </section>
    <!--================================
        END BREADCRUMB AREA
    =================================-->

    <!--================================
            START LOGIN AREA
    =================================-->
    <section class="login_area section--padding2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <form action="/login" method="post" onSuccess="login()">
                        <div class="cardify login">
                            <div class="login--header">
                                <h3 translate="welcome"></h3>
                            </div>
                            <!-- end .login_header -->

                            <div class="login--form">
                                <div class="form-group">
                                    <label for="user_name" translate="settings_email"></label>
                                    <input type="text" required name="email" class="text_field" placeholder="Enter your email...">
                                </div>

                                <div class="form-group">
                                    <label for="pass" translate="settings_password"></label>
                                    <input type="password" required name="password" class="text_field" placeholder="Enter your password...">
                                </div>

                                <button class="btn btn--md btn--round" type="submit" translate="index_login"></button>
                                <a href="/signup.html" class="btn btn--md btn--round" type="submit" translate="index_sign-up"></a>
                            </div>
                            <!-- end .login--form -->
                        </div>
                        <!-- end .cardify -->
                    </form>
                    <div >
                        <a href="#" translate="recovery-password" onclick="$('#recoveryPass').toggle()"></a>
                        <form action="/recovery" method="post" style="display: none" id="recoveryPass">
                            <input type="email" name="email" style="width: 250px; margin-left: 5px;">
                            <button class="btn btn--md btn--round" type="submit" translate="send"></button>
                        </form>
                    </div>
                </div>
                <!-- end .col-md-6 -->
            </div>
            <!-- end .row -->
        </div>
        <!-- end .container -->
    </section>
    <!--================================
            END LOGIN AREA
    =================================-->

    <script>
        function login() {
            loginCheck().then(function () {
                translate();
                changeURL("/home.html")
                getPage("menu.html", "#menuBlock")
            })
        }
    </script>