<style>
    .menu-ul>li {
        display: inline-block;
        margin-right: 10px;
    }
</style>

<div class="sidebar-mob auto-close">

    <div onclick="toggleLeftMenu()" style="
            width: calc(100% - 300px);
            height: 100%;
            position: fixed;
            left: 0px;
            top: 0;
            background: #00000052;
        "></div>

    <span class="lnr lnr-cross-circle info-icon close" onclick="toggleLeftMenu()"></span>

    <div class="user " style="    width: 80px;height: 80px;margin: 0 auto;" condition="loggedUser._id">
        <img width="50px" height="50px" style="border-radius: 50px" src="<% loggedUser.image || '/assets/images/m1.png' %>" alt="user avatar">
    </div>

    <ul onclick="toggleLeftMenu()" >
        <a href="/profile/profile.html">
            <li>
                <span class="lnr lnr-user"></span><span translate="index_profile">Profile</span>
            </li>
        </a>

        <a href="/profile/messages.html">
            <li>
                <div class="author-area">
                    <span class="lnr lnr-user"></span><span translate="index_messages">Messages</span>
                    <span class="notification_count msg" style="">
                        </span>
                </div>
            </li>
        </a>

        <a href="/profile/orders.html">
            <li>
                <span class="lnr lnr-user"></span><span translate="index_orders">Orders</span>
            </li>
        </a>

        <%IF loggedUser.serviceProvider %>
        <a href="/services.html?user=<%loggedUser._id%>" >
            <li>
                <span class="lnr lnr-user"></span><span translate="index_my-services">My services</span>
            </li>
        </a>
        <a href="/profile/employees.html" >
            <li>
                <span class="lnr lnr-user"></span><span translate="index_my-employees">My Employees</span>
            </li>
        </a>
        <%ENDIF%>

        <a href="/profile/settings.html">
            <li>
                <span class="lnr lnr-user"></span><span translate="index_settings">Settings</span>
            </li>
        </a>

        <a href="#" id="logout">
            <li>
                <span class="lnr lnr-exit"></span><span translate="index_logout">Logout</span>
            </li>
        </a>

    </ul>
</div>

<!-- start menu-area -->
<div class="menu-area">
    <!-- start .top-menu-area -->
    <div class="top-menu-area">
        <!-- start .container -->
        <div class="container">

            <div class="row header">
                <div class="col-2" style="    padding-right: 0px; padding-left: 3px;">
                    <div class="logo">
                        <a href="/home.html">
                            <img src="/vo.png" alt="logo image" class="">
                        </a>
                    </div>
                </div>

                <div class="col-5" >
                    <div id="menu">
                        <div class="mob-burger" >
                            <div style="width: max-content; margin: 0 auto;"><span class="lnr lnr-menu"></span></div>
                        </div>

                        <ul class="navbar-nav auto-close">
                            <li >
                                <a href="/home.html" translate="index_home"></a>
                            </li>
                            <li >
                                <a href="/services.html" translate="index_services"></a>
                            </li>
                            <%IF loggedUser.serviceProvider %>
                            <li>
                                <a href="/profile/service-manage.html" translate="add"></a>
                            </li>
                            <%ENDIF%>

                            <!--<li class="product_cat">-->
                                <!--<a href="#" class="install-btn" onclick="presentAddToHome()" style="display: none" translate="index_installApp"></a>-->
                                <!--<% installAppBtn() %>-->
                            <!--</li>-->
                        </ul>
                    </div>
                </div>

                <div class="col-5" style="text-align: right">
                    <ul class="menu-ul">
                        <li hidden>
                            <div class="inline">
                                <a href="#" style="padding: 5px;" id="currency" class="dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="https://image.flaticon.com/icons/svg/3037/3037156.svg" width="20" alt="">
                                </a>

                                <ul class="custom_dropdown messaging_dropdown dropdown-menu" aria-labelledby="currency" x-placement="bottom-start" style="position: absolute; transform: translate3d(21px, 47px, 0px); top: 0px; left: 0px; will-change: transform;">
                                    <li onclick="currencySet('USD')">
                                        <a href="#">
                                            <span class="lnr lnr-inbox"></span>USD</a>
                                    </li>
                                    <li onclick="currencySet('EUR')">
                                        <a href="#">
                                            <span class="fa fa-star-o"></span>EUR</a>
                                    </li>
                                    <li onclick="currencySet('MDL')">
                                        <a href="#">
                                            <span class="lnr lnr-dice"></span>MDL</a>
                                    </li>
                                    <li onclick="currencySet('RUS')">
                                        <a href="#">
                                            <span class="lnr lnr-trash"></span>RUS</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li hidden>
                            <div class="inline show change-language-area">
                                <a href="#" id="change-language-dropdown" class="mr-2 dropdown-toggle btn btn--bordered btn-md custom-dropdown"

                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img id="langImg" src="" style="width: 20px;">
                                </a>

                                <ul class="custom_dropdown messaging_dropdown dropdown-menu " aria-labelledby="change-language-dropdown"
                                    x-placement="bottom-start"
                                    style="position: absolute; transform: translate3d(21px, 47px, 0px); top: 0px; left: 0px; will-change: transform;">
                                    <li style="padding: 10px 0px; cursor: pointer">
                                        <div data-lang="ro" onclick="change_language(this)" class=" change_language notification">
                                            <div class=" notification__info">
                                                <img id="roImg"
                                                     src="https://cdn0.iconfinder.com/data/icons/all-national-flags-of-the-world-very-high-quality-/283/chad-128.png"
                                                     style="width: 30px;">
                                                Romanian
                                            </div>
                                        </div>
                                    </li>
                                    <li style="padding: 10px 0px; cursor: pointer">
                                        <div data-lang="en" onclick="change_language(this)" class=" change_language notification">
                                            <div class=" notification__info">
                                                <img id="enImg"
                                                     src="https://cdn1.iconfinder.com/data/icons/world-flags-circular/1000/Flag_of_United_Kingdom_-_Circle-128.png"
                                                     style="width: 30px;">
                                                English
                                            </div>
                                        </div>
                                    </li>
                                    <li style="padding: 10px 0px; cursor: pointer">
                                        <div data-lang="ru" onclick="change_language(this)" class=" change_language notification">
                                            <div class=" notification__info">
                                                <img id="ruImg"
                                                     src="https://cdn0.iconfinder.com/data/icons/all-national-flags-of-the-world-very-high-quality-/283/russia-128.png"
                                                     style="    width: 30px;">
                                                Русский
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="loginBlock">
                                <%IF !loggedUser._id %>
                                <div style="    width: max-content;    float: right;    padding-top: 7px;">
                                    <a href="/login.html" style="margin-right: 0;" class="author-area__seller-btn inline" translate="index_login">Login</a>
                                </div>
                                <%ENDIF%>

                                <%IF loggedUser._id %>
                                <div class="userBlock">
                                    <div class="author-area">
                                        <div class="author-author__info inline has_dropdown" onclick="toggleLeftMenu()">
                                            <div class="author__avatar">
                                                <span class="notification_count msg" style=""></span>
                                                <img width="50px" height="50px" src="<% loggedUser.image || '/assets/images/m1.png' %>"
                                                     alt="user avatar">
                                            </div>

                                            <a href="#" id="userAreMenu"
                                               class="name dropdown-toggle btn btn--bordered btn-md custom-dropdown">
                                                <% loggedUser.name %>
                                            </a>
                                        </div>
                                        <!--end /.author-author__info-->
                                    </div>
                                </div>
                                <%ENDIF%>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>

        </div>
        <!-- end /.container -->
    </div>
    <!-- end  -->
</div>
<!-- end /.menu-area -->
<!--================================
END MENU AREA
=================================-->