    <!--================================
        START BREADCRUMB AREA
    =================================-->
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb">
                        <ul>
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li class="active">
                                <a href="#">Recovery</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end /.col-md-12 -->
            </div>
            <!-- end /.row -->
        </div>
        <!-- end /.container -->
    </section>
    <!--================================
        END BREADCRUMB AREA
    =================================-->

    <!--================================
            START LOGIN AREA
    =================================-->
    <section class="login_area section--padding2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <form action="" method="post" redirectTo="/login.html" id="recoveryForm">
                        <div class="cardify login">
                            <div class="login--header">
                                <h3 translate="recovery-password"></h3>
                            </div>
                            <!-- end .login_header -->

                            <div class="login--form">
                                <div class="form-group">
                                    <label for="user_name" translate="settings_password"></label>
                                    <input type="password"required  name="password" class="text_field" placeholder="">
                                </div>

                                <div class="form-group">
                                    <label for="pass" translate="settings_confirm-password"></label>
                                    <input type="password" required name="password-confirm" class="text_field" placeholder="">
                                </div>

                                <button class="btn btn--md btn--round" type="submit" translate="index_login"></button>
                            </div>
                            <!-- end .login--form -->
                        </div>
                        <!-- end .cardify -->
                    </form>
                </div>
                <!-- end .col-md-6 -->
            </div>
            <!-- end .row -->
        </div>
        <!-- end .container -->
    </section>
    <!--================================
            END LOGIN AREA
    =================================-->

    <script>
        $("#recoveryForm").attr("action", `/recovery/link${location.search}`)
    </script>