<style>
    .prev-slide {
        width: max-content;
        margin: 0 auto;
        max-width: 100%;
    }
</style>

<!--================================
    START BREADCRUMB AREA
=================================-->
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb">
                    <ul>
                        <li>
                            <a href="/home.html">Home</a>
                        </li>
                        <li>
                            <a href="/services.html">Services</a>
                        </li>
                        <li class="active">
                            <a href="#" class="title"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- end /.col-md-12 -->
        </div>
        <!-- end /.row -->
    </div>
    <!-- end /.container -->
</section>
<!--================================
    END BREADCRUMB AREA
=================================-->

<!--============================================
    START SINGLE PRODUCT DESCRIPTION AREA
==============================================-->
<section class="single-product-desc">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="item-preview item-preview2">
                    <div class="prev-slide">
                        <img  src="https://i.pinimg.com/originals/78/e8/26/78e826ca1b9351214dfdd5e47f7e2024.gif" alt="Keep calm this isn't the end of the world, the preview is just missing.">
                    </div>

                    <div class="item__preview-thumb">
                        <div class="item-action">
                            <div class="action-btns">
                                <a href="#" class="btn btn--round btn--lg" data-target="#order_modal" data-toggle="modal" translate="service_order"></a>
                            </div>
                        </div>
                        <!-- end /.item__action -->

                        <div class="item_social_share">
                            <p>
                                <img src="/assets/images/svg/share.svg" alt="This is share svg">
                                <span>Share this item</span>
                            </p>

                            <div class="social social--color--filled">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-facebook"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-twitter"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-google-plus"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-pinterest"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-linkedin"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-dribbble"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- end /.social-->

                        </div>
                        <!-- end /.item__preview-thumb-->
                    </div>
                    <!-- end /.item__preview-thumb-->


                </div>
                <!-- end /.item-preview-->

                <div class="item-info">
                    <div class="item-navigation">
                        <ul class="nav nav-tabs">
                            <li>
                                <a href="#product-details-all" class="active" aria-controls="product-details-all" role="tab" data-toggle="tab" translate="service_details"></a>
                            </li>
                            <li>
                                <a href="#product-comment" onclick="drawComments()" aria-controls="product-comment" role="tab" data-toggle="tab" translate="service-comments"></a>
                            </li>
                            <li>
                                <a href="#product-review" aria-controls="product-review" role="tab" onclick="drawReviews()" data-toggle="tab" translate="service_reviews"></a>
                            </li>
                            <!--<li>-->
                                <!--<a href="#product-faq" aria-controls="product-faq" role="tab" data-toggle="tab">item FAQ</a>-->
                            <!--</li>-->
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade show product-tab active" id="product-details-all" >
                            <div class="container mt-3 mb-3">
                                <h1 class="tab-content-title"></h1>
                                <br>
                                <div class="tab-content-short-desc"></div>
                                <br>
                                <div class="tab-content-full-desc"></div>
                                <br>
                                <h3>Специалисты</h3>
                                <br>
                                <div class="employee-list row"></div>
                            </div>
                            <div id="map" tabindex="0" style="height: 300px;width: 100%;position: relative;"></div>
                        </div>
                        <div class="tab-pane fade product-tab" id="product-comment">
                            <div class="thread">

                                <div class="comment-form-area pt-0">
                                    <h4 translate="service_leave-comment"></h4>
                                    <!-- comment reply -->
                                    <div class="media comment-form">
                                        <div class="media-left author_avatar">
                                            <a href="#">
                                                <img width="80px" height="80px"class="comentator-avatar media-object" src="" alt="Commentator Avatar">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <form action="" method="post" class="comment-reply-form" onSuccess="drawComments()">
                                                <textarea hidden id="commentBody" name="body" placeholder="Write your comment..."></textarea>

                                                <style>
                                                    #textarea {
                                                        width: 100%;
                                                        min-height: 59px;
                                                        border: 1px solid black;
                                                        border-radius: 8px;
                                                        margin-bottom: 10px;
                                                        padding: 10px;
                                                    }
                                                </style>

                                                <div contenteditable="true" tabindex="-1" class="div-textarea"></div>

                                                <div style="float: right;"><span onclick="toggleEmoji()" class="eq mp0 nj19" data-e="😀"></span></div>
                                                <div class="emoji" style=" display: none;">
                                                    <div id="d-emoji" class="">
                                                        <div role="tabpanel" class="mob-kb tab-pane active"
                                                              style=" max-height: 250px;    overflow: overlay;    padding: 9px;    border: 1px solid #d6d6d6;">
                                                            <div >
                                                                <span class="eq mp0 nj19" data-e="😀"></span><span
                                                                    class="eq mp0 nj20" data-e="😃"></span><span
                                                                    class="eq mp0 nj21" data-e="😄"></span><span
                                                                    class="eq mp0 nj22" data-e="😁"></span><span
                                                                    class="eq mp0 nj23" data-e="😆"></span><span
                                                                    class="eq mp0 nj24" data-e="😅"></span><span
                                                                    class="eq mp0 nj25" data-e="😂"></span><span
                                                                    class="eq mp0 nj26" data-e="🤣"></span><span
                                                                    class="eq mp0 nj27" data-e="☺️"></span><span
                                                                    class="eq mp0 nj28" data-e="😊"></span><span
                                                                    class="eq mp0 nj29" data-e="😇"></span><span
                                                                    class="eq mp0 nj30" data-e="🙂"></span><span
                                                                    class="eq mp0 nj31" data-e="🙃"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <button class="btn btn--sm btn--round" translate="compose-message"></button>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- comment reply -->
                                </div>

                                <ul class="media-list thread-list">
                                    <li class="single-thread comments">

                                    </li>
                                    <!-- end single comment thread /.comment-->
                                </ul>
                                <div class="pagination-area pagination-area2">
                                    <nav class="navigation pagination " role="navigation">
                                        <div class="nav-links">
                                            <button class="btn btn-lg btn--round moreComments" onclick="moreComments(this)" data-id="10" translate="more"></button>
                                        </div>
                                    </nav>
                                </div>
                                <!-- end /.comment-form-area -->
                            </div>
                            <!-- end /.comments -->
                        </div>
                        <div class="tab-pane fade product-tab" id="product-review">
                            <div class="thread thread_review">
                                <div class="comment-form-area pt-0">
                                    <h4 translate="service_leave-review"></h4>
                                    <!-- comment reply -->
                                    <div class="media comment-form">
                                        <div class="media-left author_avatar">
                                            <a href="#">
                                                <img width="80px" height="80px" class="comentator-avatar media-object" src="" alt="Commentator Avatar">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <form action="vvvvv" method="post" class="review-reply-form" onSuccess="drawReviews()">
                                                <textarea hidden="" id="reviewBody" name="body" placeholder="Write your review..."></textarea>

                                                <style>
                                                    .div-textarea {
                                                        width: 100%;
                                                        min-height: 59px;
                                                        border: 1px solid black;
                                                        border-radius: 8px;
                                                        margin-bottom: 10px;
                                                        padding: 10px;
                                                    }
                                                </style>

                                                <div contenteditable="true" tabindex="-1" class="div-textarea" spellcheck="false"></div>

                                                <div style="float: right;"><span onclick="toggleEmoji()" class="eq mp0 nj19" data-e="😀"></span></div>
                                                <div class="emoji" style=" display: none;">
                                                    <div id="d-emoji" class="">
                                                        <div role="tabpanel" class="mob-kb tab-pane active" id="smileys-people" style=" max-height: 250px;    overflow: overlay;    padding: 9px;    border: 1px solid #d6d6d6;">
                                                            <div >
                                                                <span class="eq mp0 nj19" data-e="😀"></span><span
                                                                    class="eq mp0 nj20" data-e="😃"></span><span
                                                                    class="eq mp0 nj21" data-e="😄"></span><span
                                                                    class="eq mp0 nj22" data-e="😁"></span><span
                                                                    class="eq mp0 nj23" data-e="😆"></span><span
                                                                    class="eq mp0 nj24" data-e="😅"></span><span
                                                                    class="eq mp0 nj25" data-e="😂"></span><span
                                                                    class="eq mp0 nj26" data-e="🤣"></span><span
                                                                    class="eq mp0 nj27" data-e="☺️"></span><span
                                                                    class="eq mp0 nj28" data-e="😊"></span><span
                                                                    class="eq mp0 nj29" data-e="😇"></span><span
                                                                    class="eq mp0 nj30" data-e="🙂"></span><span
                                                                    class="eq mp0 nj31" data-e="🙃"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div>
                                                    <input type="hidden" class="rateInput" name="rate">
                                                    <div class="rate"></div>
                                                </div>

                                                <button class="btn btn--sm btn--round" translate="compose-message" ></button>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- comment reply -->
                                </div>

                                <ul class="media-list thread-list">
                                    <li class="single-thread"></li>
                                    <!-- end single comment thread /.comment-->
                                </ul>
                            </div>
                            <!-- end /.comments -->
                        </div>
                </div>

                </div>
            </div>

            <div class="col-lg-4">
                <aside class="sidebar sidebar--single-product">

                    <div class="sidebar-card card--metadata">

                        <ul class="data">
                            <li>
                                <p>
                                    <span class="lnr lnr-cart pcolor"></span><span translate="service_total-sales"></span></p>
                                <span class="total-sales">0</span>
                            </li>
                            <li>
                                <p>
                                    <span class="lnr lnr-eye scolor"></span><span translate="service-views"></span></p>
                                <span class="viewCount">0</span>
                            </li>
                            <li>
                                <p>
                                    <span class="lnr lnr-bubble mcolor3"></span> <span translate="service-comments"></span></p>
                                <span class="commentsCount">0</span>
                            </li>
                        </ul>

                        <div class="rating product--rating">
                            <div class="service-rate" style="    float: left;"></div>
                            <span class="rating__count">( <span class="rate-count">0</span> )</span>
                        </div>
                        <!-- end /.rating -->
                    </div>
                    <!-- end /.sidebar-card -->

                    <div class="sidebar-card card--product-infos">
                        <div class="card-title">
                            <h4 translate="service_details"></h4>
                        </div>

                        <ul class="infos">
                            <li>
                                <p class="data-label" translate="price"></p>
                                <p class="info price"></p>
                            </li>
                            <li>
                                <p class="data-label" translate="created"></p>
                                <p class="info created"></p>
                            </li>
                            <li>
                                <p class="data-label" translate="category"></p>
                                <p class="info category"></p>
                            </li>

                            <li>
                                <p class="data-label" translate="working-days"></p>
                                <p class="info workingDays"></p>
                            </li>

                            <li>
                                <p class="data-label" translate="working-hours"></p>
                                <p class="info workingTime"></p>

                            <li>
                                <p class="data-label" translate="lunch-time"></p>
                                <p class="info lunchTime"></p>
                            </li>
                        </ul>
                    </div>
                    <!-- end /.aside -->

                    <div class="author-card sidebar-card ">
                        <div class="card-title">
                            <h4 translate="user"></h4>
                        </div>


                        <div class="author-infos">
                            <div class="author_avatar">
                                <img width="100px" height="100px" src="/assets/images/author-avatar.jpg" class="serice-autor-image">
                            </div>

                            <div class="author">
                                <h4><a class="serice-autor-name" href="">User name</a></h4>
                            </div>
                            <!-- end /.author -->

                            <div class="social social--color--filled">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-facebook"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-twitter"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-dribbble"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- end /.social -->

                            <div class="author-btn">
                                <a href="" class="btn btn--sm btn--round profile" translate="index_profile">View Profile</a>
                                <a href="" class="btn btn--sm btn--round message" translate="compose-message"></a>
                            </div>
                            <!-- end /.author-btn -->
                        </div>

                    </div>
                    <!-- end /.author-card -->
                </aside>
                <!-- end /.aside -->
            </div>
            <!-- end /.col-md-4 -->
        </div>
        <!-- end /.row -->
        <h3 style="    padding: 30px 0px;" translate="recomended"></h3>
        <div class="row services dashboard-edit">
        </div>
    </div>

    <!-- end /.container -->
</section>
<!--===========================================
    END SINGLE PRODUCT DESCRIPTION AREA
===============================================-->

<div class="modal fade " id="order_modal" tabindex="-1" role="dialog" aria-labelledby="rating_modal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h3 class="modal-title" id="rating_modal" translate="service_order"></h3>
            </div>
            <!-- end /.modal-header -->

            <div class="modal-body">
                <form action="/orders" method="post" onSuccess="closeModal()">
                    <input type="hidden" name="serviceId" value="">
                    <div class="form-group">
                        <label for="acname"><span  translate="settings_name"></span>
                            <sup>*</sup>
                        </label>
                        <input type="text" required name="name"  class="userName text_field" value="">
                    </div>
                    <div class="form-group">
                        <label for="acname"> <span  translate="settings_phone"></span>
                            <sup>*</sup>
                        </label>
                        <input type="number" required name="phone"  class="userPhone text_field" value="">
                    </div>
                    <div class="form-group">
                        <label for="acname"><span  translate="settings_email"></span>
                            <sup>*</sup>
                        </label>
                        <input type="email" required name="email" class="userEmail text_field" placeholder="test@mail.ru" value="">
                    </div>

                    <div class="row">
                        <!-- start .col-md-12 -->
                        <div class="col-md-12">
                            <div class="testimonial-slider order-employee-list">
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="acname" translate="settings_date"> </label>
                        <input type="text" required autocomplete="off" name="toDataTime" class="datetimepicker text_field" value="">
                    </div>
                    <button type="submit" class="btn btn--round btn--md" aria-label="Close" translate="save"></button>
                </form>
                <!-- end /.form -->
            </div>
            <!-- end /.modal-body -->
        </div>
    </div>
</div>

<script>
    var url = new URL(location.href);
    var id = url.searchParams.get('id');

    $('input[name="serviceId"]').attr("value", id);
    $('.userName').attr("value", loggedUser.name);
    $('.userPhone').attr("value", loggedUser.phone);
    $('.userEmail').attr("value", loggedUser.email);
    $(".comentator-avatar").attr('src', loggedUser && loggedUser.image || '/assets/images/m7.png');

    if($.isEmptyObject(loggedUser)) {
        $(".comment-form").html(`Please &nbsp; <a href="/login.html"> sign in </a> &nbsp; to leave a comment.`)
    }

    url.hash && $('a[href="'+ url.hash +'"]').click();

    $('.datetimepicker').datetimepicker({
        // singleDatePicker: true,
        format: 'd/M/Y H:i',
        defaultTime:'08:00',
        minDate:'0',
        // disabledWeekDays: disabledDays,
        dayOfWeekStart: 1,
        // allowTimes: allowTimes

    });

    $(".rate").rate({
        selected_symbol_type: 'fontawesome_star',
        update_input_field_name: $(".rateInput"),
        max_value: 5,
        step_size: 1,
    });

    $.get("/services/" + id, function (item) {
        $(".prev-slide img").attr("src", item.image);
        $(".tab-content-title, .title").html(item[Language+"Title"]);
        $(".tab-content-short-desc").html(item[Language+"SDesc"]);
        $(".tab-content-full-desc").html(item[Language+"FDesc"]);
        $(".comment-reply-form").attr("action", "/comments/service/" + id);
        $(".review-reply-form").attr("action", "/reviews/service/"+ id);
        $(".viewCount").text(item.viewCount);
        $(".price").text(item.price.amount + ' ' + item.price.currency);
        $(".created").text(moment(item.createdAt).fromNow());
        $(".category").text(item.category[Language+"Title"]);
        $(".workingTime").text(`${item.startTime} - ${item.endTime}`);
        $(".lunchTime").text(`${item.startLunch} - ${item.endLunch}`);

        $(".rate-count").text(item.rate.sumRate);
        $(".service-rate").rate({
            selected_symbol_type: 'fontawesome_star',
            readonly: true,
            initial_value: item.rate.avgRate,
            max_value: 5,
            step_size: 1,
        });

        item.workingDays && item.workingDays.forEach(function (day) {
            $(".workingDays").append(translateAll[Language]["day"+day] + ' ');
        });

        drawAuthor(item);

        //serviceInitMap
        if (item.geoPosition && item.geoPosition.lat)
            serviceInitMap(item.geoPosition.lat, item.geoPosition.lng);

        // Total Sales
        $.get(`/orders/service/${id}/count`, function (count) {
            $(".total-sales").text(count);
        });

        item.specialists && item.specialists.forEach(function(item) {
            drawEmployee(item);
            drawOrderEmployee(item);
        });

        getRecomendedServices(item.category._id);
    }).fail(function (mess) {
        alert(JSON.stringify(mess));
    });

    $("#order_modal").on("shown.bs.modal", function (e) {
        sliderInit();
    });


    function drawOrderEmployee(item) {
        $(".order-employee-list").append(`
            <div class="testimonial " style="    text-align: center;">
                <label for="order-specilaist${item._id}">
                    <img width="200px" height="200px" style="border-radius: 73px;width: 100px;height: 100px;" src="${item.image}" alt="Event card thumbnail">
                    <input type="radio" required name="specialist" id="order-specilaist${item._id}" value="${item._id}">
                    <h3>${item.name}</h3>
                </label>
            </div>
        `);
    }
    function drawEmployee(item) {
        var employee = `
                    <div class="col-lg-4 col-md-6 " data-id="${item._id}">
                        <div class="card_style1">
                            <figure class="card_style1__info">
                                <img width="200px" height="200px" style="object-fit: cover"  src="${item.image || '/design/images/ev2.jpg'}" alt="Event card thumbnail">

                                <figcaption>
                                    <a href="#">
                                        <h3>${item.name}</h3>
                                    </a>
                                    <ul class="date_place">
                                        <li>
                                            <span class="lnr lnr-users"></span>
                                            <p>${item.position}</p>
                                        </li>
                                        <li>
                                            <span class="lnr lnr-phone"></span>
                                            <p>${item.phone}</p>
                                        </li>
                                    </ul>
                                </figcaption>
                            </figure>
                        </div>
                    </div>`;

        $(".employee-list").append(employee);
    }

    // url.hash && $('a[href="'+ url.hash +'"]').click();

    $(".emoji span").click(function(e) {
        $(this).closest("form").children(".div-textarea").append(`<span class="${$(this).attr("class")}"/>&nbsp;`);
    });

    $(".div-textarea").on("DOMSubtreeModified", function(e) {
        $(this).closest("form").children("textarea").val($(this).html());
    });


    // ====================== Rating Area ===================================

    // $(".rating span").click(function (e) {
    //    var thisId = parseInt($(this).attr("data-id"));
    //suggest
    //     $(this).parent().parent().children('li span').each(function(e) {
    //         $(this).toggleClass("fa-star fa-star-o")
    //     })
    //
    // });

    function sliderInit() {
        $('.testimonial-slider').slick({
                infinite: true,
                slidesToShow: 2,
                slidesToScroll: 2,
                prevArrow: '<span class="lnr lnr-chevron-left"></span>',
                nextArrow: '<span class="lnr lnr-chevron-right"></span>',
                responsive: [
                    {
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                            infinite: true
                        }
                    }
                ]
            });
    }

    // recommended

    function getRecomendedServices(category) {
        service.renderItems('?category='+ category +'&limit=3&populate[]=user&populate[]=category', true, 4)
            .then(function () {
            translate()
        });
    }


    // ====================== Author Area ===================================

    function drawAuthor(item) {
        $(".serice-autor-image").attr("src", item.user.image);
        $(".serice-autor-name").attr("href", "/profile/profile.html?user=" + item.user._id).text(item.user.name);
        $('.message').attr("href", "/profile/messages.html?companion=" + item.user._id);
        $('.profile').attr("href", "/profile/profile.html?user=" + item.user._id);

    }


    // ====================== Map Area ===================================

    function serviceInitMap(serviceLat, serviceLon) {

        var lat = serviceLat || 46.85;
        var lon = serviceLon || 29.0;

        map = L.map('map', {
            gestureHandling: true,
            zoomControl: false
        }).setView([lat, lon], 7);

        Icon = new L.icon({
            iconUrl: '/assets/images/v.png',
            iconAnchor: [17, 45],
            popupAnchor:  [0, -28]
        });

        myPositionIcon = new L.icon({
            iconUrl: '/assets/images/v.png',
            iconAnchor: [17, 45],
            popupAnchor:  [0, -28]
        });

        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
            maxZoom: 18,
            attribution: 'VVVCorp',
            id: 'mapbox/streets-v11'
        }).addTo(map);

        L.control.zoom({
            position: 'bottomleft'
        }).addTo(map);


        let marker = L.marker([serviceLat, serviceLon], {icon: myPositionIcon, draggable: false }).addTo(map);
    }



    // ====================== Reviews Area ===================================


    function drawReviews(skip = null) {
        $(".div-textarea").html('');
        $("#product-review .single-thread").html('');
        return $.get("/reviews/service/" + id , function (items) {
            items.forEach(function (item) {
                drawReview(item);
            });
        })
    }

    function drawReview(item) {
        $("#product-review .single-thread").append(
            `<div class="media">
                <div class="media-left author_avatar">
                    <a href="#">
                        <img width="70px" height="70px" class="media-object" src="${item.user.image || '/assets/images/m1.png'}" alt="Commentator Avatar">
                    </a>
                </div>
                <div class="media-body">
                <div class="clearfix">
                    <div class="pull-left">
                        <div class="media-heading">
                            <a href="/author.html">
                                <h4>${item.user.name}</h4>
                            </a>
                            <span>${moment(item.createdAt).fromNow()}</span>
                        </div>
                        <div class="rating product--rating">
                            ${item.rate} Stars
                        </div>
                    </div>
                </div>
                <p>${item.body}</p>
            </div>
            </div>`
        )
    }


    // ====================== Comments Area ===================================

    getCommentsCount().then(function (count) {
        $(".commentsCount").text(count)
    });

    function toggleEmoji() {
        $(".emoji").toggle()
    }

    function getCommentsCount() {
        return $.get(`/comments/service/${id}/count`);
    }

    function moreComments(element) {
        var skip = $(element).attr('data-id');

        //then increment
        $(element).attr('data-id', parseInt(skip) + 10)

        var items = drawComments(skip);

        items.then(len => {
            if(len.length < 10) $(element).attr("disabled", "disabled")
        })

    }

    function drawComments(skip = null) {

        $(".div-textarea").html('');

        if(!skip) $("#product-comment .single-thread").html('')

        return $.get("/comments/service/" + id + '?skip=' + skip, function (items) {
            items.forEach(function (item) {
                drawComment(item);
            });
            $("#product-comment .single-thread").append('<hr color="blue">');
        })
    }

    function drawComment(item) {
        $("#product-comment .single-thread").append(
            `<div class="media comment" id="${item._id}">
                        <div class="media-left author_avatar">
                            <a href="#">
                                <img width="70px" height="70px" class="media-object" src="${item.user.image || '/assets/images/m1.png'}" alt="Commentator Avatar">
                            </a>
                        </div>
                        <div class="media-body">
                            <div>
                                <div class="media-heading d-flex">
                                    <a href="/author.html?id=${item.user._id}">
                                        <h4>${item.user.name}</h4>
                                    </a>&nbsp;&nbsp;&nbsp;
                                    <span>${moment(item.createdAt).fromNow()}</span>
                                </div>
                                <!--<span class="comment-tag buyer">Purchased</span>-->
                                <!--<a href="#" class="reply-link">Reply</a>-->
                            </div>
                            <p>${item.body}</p>
                        </div>
                        ${loggedUser && item.user._id === loggedUser._id && '<span class="lnr lnr-cross-circle" onclick="removeComment(this)"></span>' || '' }
                    </div>
                    `
        )
    }

    function removeComment(element) {
        let commentId = $(element).closest(".comment").attr("id");
        $.ajax({
            url: "/comments/" + commentId,
            type: 'DELETE',
            success: function(result) {
                $("#" + commentId).remove();
                alertMessage(result)
            },
            fail: function() {
                alertMessage('Fail')
            }
        });
    }


    function closeModal() {
        $("#order_modal").modal("toggle")
    }

</script>
