<style>
    .leaflet-popup {
        width: 150px;
    }
</style>

    <!--================================
        START BREADCRUMB AREA
    =================================-->
    <section class="search-wrapper serviceFilter">
        <div class="search-area2 bgimage">

            <form onsubmit="return getServicesBySearch()" id="filter">
                <div class="container content_above">
                    <div class="filter__option filter--select search-service">
                        <div class="form-group">
                            <div class="select-wrap select-wrap2">
                                <input type="text" name="title" id="service-search" onkeyup="suggest(this)" placeholder="" translateelement="placeholder" translate="search">
                                <div id="suggest" style="display: none">
                                    <ul>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filter-bar " style="    margin: 0 auto;    width: fit-content;">

                        <div class="filter__option filter--select">
                            <div class="form-group">
                                <div class="select-wrap select-wrap2">
                                    <select name="category" id="category" class="text_field">
                                        <option value="" translate="all-categories"></option>
                                    </select>
                                    <span class="lnr lnr-chevron-down"></span>
                                </div>
                            </div>
                        </div>

                        <div class="filter__option filter--select">
                            <div class="form-group">
                                <div class="select-wrap select-wrap2">
                                    <select name="priceDirection" class="text_field">
                                        <option value="" translate="price-direction"></option>
                                        <option value="low" translate="low"></option>
                                        <option value="high" translate="high"></option>
                                    </select>
                                    <span class="lnr lnr-chevron-down"></span>
                                </div>
                            </div>
                        </div>

                        <div class="filter__option filter--select" style="width: 118px;">
                            <div class="form-group ">
                                <div class="input-group with--addon">
                                    <span class="input-group-addon">$</span>
                                    <input type="number" min="1" class="text_field" name="priceFrom" value="" translate="from" translateElement="placeholder">
                                </div>
                            </div>
                        </div>

                        <div class="filter__option filter--select" style="width: 118px;">
                            <div class="form-group ">
                                <div class="input-group with--addon">
                                    <span class="input-group-addon">$</span>
                                    <input type="number" min="1" class="text_field" name="priceTo" value="" translate="to" translateElement="placeholder">
                                </div>
                            </div>
                        </div>

                        </div><div class="row">
                        <div class="col-md-8 offset-md-2 pb-3">
                            <div class="search">
                                <div class="search__field" style="line-height: 4;">
                                    <button class="btn btn-lg btn--round" translate="search"></button>
                                    <button type="button" onclick="searchOnMap()" class="btn btn-lg btn--round" translate="search-on-map"></button>
                                    <a class="btn btn-lg btn--round " href="/services.html" translate="reset"></a>
                                </div>
                            </div>
                        </div>
                </div>
                    <!-- end /.row -->
                </div>
            </form>

            <!-- end /.container -->
        </div>
        <!-- end /.search-area2 -->
    </section>
    <!--================================
        END BREADCRUMB AREA
    =================================-->


    <!--================================
        START PRODUCTS AREA
    =================================-->
    <section class="products dashboard-edit pt-2">
        <!-- start container -->
        <div class="container">

            <div id="map" tabindex="0" style="display:none; height: 400px;width: 100%;position: relative;"></div>

            <!-- start .row -->
            <div class="row services" ></div>
            <!-- end /.row -->
            <!-- end /.row -->
        </div>
        <!-- end /.container -->
    </section>
    <!--================================
        END PRODUCTS AREA
    =================================-->

    <script>

        var map;

        function searchOnMap() {
            $("#map").toggle();
            if(map) {
                map.off();
                map.remove();
            }
            mapInit();
        }

        function mapInit() {

            var lat = 46.85;
            var lon = 29.0;

            map = L.map('map', {
                gestureHandling: true,
                zoomControl: false
            }).setView([lat, lon], 7);

            Icon = new L.icon({
                iconUrl: '/assets/images/v.png',
                iconAnchor: [17, 45],
                popupAnchor:  [0, -28]
            });

            myPositionIcon = new L.icon({
                iconUrl: '/assets/images/v.png',
                iconAnchor: [17, 45],
                popupAnchor:  [0, -28]
            });

            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
                maxZoom: 18,
                attribution: 'VVVCorp',
                id: 'mapbox/streets-v11'
            }).addTo(map);

            L.control.zoom({
                position: 'bottomleft'
            }).addTo(map);

            map.on('moveend', function (e) {
                getServicesByGeoPositiion();
            });
            getServicesByGeoPositiion ();

            // let marker = L.marker([serviceLat, serviceLon], {icon: myPositionIcon, draggable: false }).addTo(map);
        }

        function removeAllLayers() {
            let count = 0;
            map.eachLayer(function (layer) {
                if (count !== 0) {
                    map.removeLayer(layer);
                }
                count ++;
            });
        }

        function getServicesByGeoPositiion () {
            // var bounds = map.getBounds();
            // let centerMap = {
            //     southLat: bounds._southWest.lat,
            //     southLng: bounds._southWest.lng,
            //     northLat: bounds._northEast.lat,
            //     northLng: bounds._northEast.lng
            // };


            $.get("/services" + window.location.search)
                .then((res) => {
                    removeAllLayers();
                    res.items.forEach((item, key) => {

                        if(!item.geoPosition || !item.geoPosition.lat || !item.geoPosition.lng) return;

                        let marker = L.marker([item.geoPosition.lat, item.geoPosition.lng], {icon: Icon}).addTo(map);
                        marker.bindPopup(`
                            <div>
                                <div><img src="${item.image}" alt=""></div>
                                <div>
                                    <a href="/service.html?id=${item._id}">${item[Language+"Title"]}</a>
                                </div>
                                <div>
                                    ${item[Language+"SDesc"] || ""}
                                </div>
                            </div>
                        `);
                    })
                })

            // $.post('/services/list/geo', centerMap)
            //     .then((items) => {
            //         removeAllLayers();
            //         items.forEach((item, key) => {
            //             let marker = L.marker([item.geoPosition.lat, item.geoPosition.lng]).addTo(map);
            //             marker.bindPopup('<a href="/service.html?id=' + item._id + '"> ' + item[Language+"Title"] + ' </a>');
            //         })
            //     })
        }

        function suggest(el) {
            let val = $(el).val() || null;
            $.get("/services/suggest?title="+ val, function (res) {
                $("#suggest ul").html("");
                if(res.length) $("#suggest").show();
                if(!res.length) $("#suggest").hide();
                res.forEach(function (item) {
                    $("#suggest ul").append(`<li onclick="setTitleSearch('${item[Language+'Title']}')">${item[Language+'Title']} </li>`)
                })
            })
        }

        function setTitleSearch(title) {
            let url = new URL(location.href);
            url.searchParams.set("title", title);
            history.pushState({}, 'title', url);
            $('#service-search').val(title);
            $('#suggest').hide()
        }

        // Get categories

        // Set filters on page loading
        (async function () {

            await new Category().appendTo();

            let url = await new URL(location.href);

            for(let param of url.searchParams.entries()) {
                if(param[1]) {
                    $("input[name='"+ param[0] +"']").val(param[1]);
                    $("option[value='"+ param[1] +"']").prop("selected", true);
                }
            }

            // history.pushState({}, 'title', url);
            getServicesBySearch();

        })();


        function getServicesBySearch() {
            var searchParams = window.location.search && window.location.search +'&populate[]=user&populate[]=category' || '?populate[]=user&populate[]=category'
            service.renderItems(searchParams, true, 4).then(function () {
                translate()
            });
            if(map) getServicesByGeoPositiion();
        }

    </script>
