<!--================================
        START BREADCRUMB AREA
    =================================-->
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb">
                        <ul>
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li class="active">
                                <a href="#">Signup</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end /.col-md-12 -->
            </div>
            <!-- end /.row -->
        </div>
        <!-- end /.container -->
    </section>
    <!--================================
        END BREADCRUMB AREA
    =================================-->

    <!--================================
            START SIGNUP AREA
    =================================-->
    <section class="signup_area section--padding2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="cardify signup_form">
                        <div class="login--header">
                            <h3 translate="index_sign-up"></h3>
                        </div>

                        <div class="container">
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item col-6">
                                    <a style="line-height: 30px;" class="nav-link " id="user-tab" data-toggle="tab" href="#user" role="tab" aria-controls="home" aria-selected="true" translate="sign-up-us-user"></a>
                                </li>
                                <li class="nav-item col-6">
                                    <a style="line-height: 30px;" class="nav-link" id="service-provider-tab" data-toggle="tab" href="#service-provider" role="tab" aria-controls="profile" aria-selected="false" translate="sign-up-us-provider"></a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade " id="user" role="tabpanel" aria-labelledby="home-tab">
                                    <form action="/register" method="post" onSuccess="signUp()">
                                        <div class="login--form">
                                            <div class="form-group">
                                                <label for="urname" translate="settings_name"></label>
                                                <input type="text" required name="name" class="text_field" placeholder="Enter your Name">
                                            </div>
                                            <div class="form-group">
                                                <label for="email_ad" translate="settings_email"></label>
                                                <input type="text" required name="email" class="text_field" placeholder="Enter your email address">
                                            </div>
                                            <div class="form-group">
                                                <label for="password" translate="settings_password"></label>
                                                <input type="password" required name="password" class="text_field" placeholder="Enter your password...">
                                            </div>
                                            <div class="form-group">
                                                <label for="con_pass" translate="settings_confirm-password"></label>
                                                <input type="password" required class="text_field" placeholder="Confirm password">
                                            </div>
                                            <button class="btn btn--md btn--round register_btn" type="submit" translate="index_sign-up"></button>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane fade" id="service-provider" role="tabpanel" aria-labelledby="profile-tab">
                                    <form action="/register" method="post" onSuccess="signUp()">
                                        <input type="hidden" name="serviceProvider" value="1">
                                        <div class="login--form">
                                            <div class="form-group">
                                                <label translate="settings_company-name"></label>
                                                <input type="text" required name="name" class="text_field" placeholder="Enter your CompanyName">
                                            </div>
                                            <div class="form-group">
                                                <label translate="settings_email"></label>
                                                <input type="text" required name="email" class="text_field" placeholder="Enter your email address">
                                            </div>
                                            <div class="form-group">
                                                <label translate="settings_password"></label>
                                                <input type="password" required name="password" class="text_field" placeholder="Enter your password...">
                                            </div>
                                            <div class="form-group">
                                                <label translate="settings_confirm-password"></label>
                                                <input type="password" required class="text_field" placeholder="Confirm password">
                                            </div>
                                            <button class="btn btn--md btn--round register_btn" type="submit" translate="index_sign-up">Register Now</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================================
            END SIGNUP AREA
    =================================-->


<script>
    function signUp() {
        loginCheck()
            .then(function () {
                getPage("menu.html", "#menuBlock")
                changeURL('/profile/settings.html')
            });
    }
</script>