<section class="section--padding2 bgcolor">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="">
                    <div class="modules__content">
                        <div class="withdraw_module withdraw_history">
                            <div class="withdraw_table_header">
                                <h3>Language Manage <a href="#" class="btn btn--md btn--round" data-target="#manageIndex" data-toggle="modal">Add</a></h3>
                            </div>
                            <div class="table-responsive">
                                <table class="table withdraw__table lang-table">
                                    <thead>
                                    <tr>
                                        <th width="10%"><b>Index</b></th>
                                        <th width="25%"><b>RU</b></th>
                                        <th width="25%"><b>EN</b></th>
                                        <th width="25%"><b>RO</b></th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>

                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end .col-md-6 -->
        </div>
        <!-- end .row -->
    </div>
    <!-- end .container -->
</section>

<div class="modal fade rating_modal" id="manageIndex" tabindex="-1" role="dialog" aria-labelledby="rating_modal">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" id="rating_modal">Adding new</h3>
            </div>
            <!-- end /.modal-header -->

            <div class="modal-body">
                <form onsubmit="manageItem(this)">
                    <ul>
                        <li>
                            <label for="index">index</label>
                            <input required id="index" type="text" name="index" >
                        </li>
                        <li>
                            <label for="ru">ru</label>
                            <input required id="ru" type="text" name="ru" >
                        </li>
                        <li>
                            <label for="en">en</label>
                            <input required id="en" type="text" name="en" >
                        </li>
                        <li>
                            <label for="ro">ro</label>
                            <input required id="ro" type="text" name="ro" >
                        </li>
                    </ul>
                    <button type="submit" class="btn btn--round btn--default">Submit Rating</button>
                    <button class="btn btn--round modal_close" data-dismiss="modal">Close</button>
                </form>
                <!-- end /.form -->
            </div>
            <!-- end /.modal-body -->
        </div>
    </div>
</div>


<script>
    $.get("/admin/lang")
    .then(function (res) {
        $.each(res.en, function(index, value) {
            drawRow(index, res.ru[index], res.en[index], res.ro[index])
        })
    });

    function drawRow(index, ru, en, ro, prepand = 0) {
        let row = `
                <tr>
                    <td>${index}</td>
                    <td>${ru}</td>
                    <td>${en}</td>
                    <td>${ro}</td>
                    <td>
                        <span onclick="editItem('${index}')" class="lnr lnr-pencil"></span>
                        <span data-id="${index}" onclick="deleteItem(this)" class="lnr lnr-trash"></span>
                    </td>
                </tr>`;

        if(!prepand) $("tbody").append(row);
        else $("tbody").prepend(row);
    }

    function editItem(index) {
        $("#index").val(index);
        $("#ru").val(translateAll.ru[index]);
        $("#ro").val(translateAll.ro[index]);
        $("#en").val(translateAll.en[index]);
        $('#manageIndex').modal('toggle');
    }

    function manageItem(el) {
        let index = $("#index").val(),
            ru = $("#ru").val(),
            en = $("#en").val(),
            ro = $("#ro").val();

        $("#ru").val('');
        $("#en").val('');
        $("#ro").val('');

        $.ajax({
            url: "/admin/lang/",
            data: {index, ru, en, ro},
            method: "post",
            success: function () {
                $('#manageIndex').modal('toggle');
                setTimeout(function () {refreshPage()}, 1000);
                // if(!translateAll.ru[index]) drawRow(index, ru, en, ro, 1);
            },
            error: function () {

            }
        })
    }
    
    function deleteItem(el) {
        if(!confirm("Вы уверены?")) return;

        let index = $(el).attr("data-id");
        $.ajax({
            url: "/admin/lang/",
            data: {index},
            method: "delete",
            success: function () {
                $(el).closest("tr").css("text-decoration", "line-through")
            },
            error: function () {
                $(el).closest("tr").css("text-decoration", "line-through")
            }
        })
    }


</script>