<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"/>

<style>
    .active:after {
        font-family: "Font Awesome 5 Free";
        content: "\f28b";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight: 900;
    }

    .row {
        margin-bottom: 160px;
    }

    .play {
        background: #ff9000;
        border-radius: 101px;
        text-align: center;
        cursor: pointer;
        color: white;
        height: 150px;
        padding-top: 59px;
        margin: 5px;
        max-width: 150px;
        font-size: 25px;

    }

    .active {
        background: black;
    }

	audio {
		z-index: 5;
		position: fixed;
		bottom: 10px;
		width: 72%;
		max-width: 935px;
	}

    @media only screen and (max-width: 1000px) {
        .play {
            margin: 30px;
            max-width: 300px;
            min-width: 300px;
            height: 300px;
            float: left;
            border-radius: 160px;
            font-size: 46px;
            padding-top: 117px;
        }
    }

	.alert {
		width: max-content;
		position: fixed;
		right: 15px;
		bottom: 5px;
	}

    i {
        cursor: pointer;
    }

</style>

<style>
    .play-box {
        height: 72px;
        position: fixed;
        width: 100%;
        bottom: 5px;
    }

    .play-box-area {
        max-width: 1200px;
        height: 100%;
        margin: 0px auto;
        background: #40e0d073;
        border-radius: 56px;
    }

    .play-pause {
        font-size: 55px;
        width: max-content;
        margin: 0 auto;
    }

    .play-pause i:active {
        text-shadow: 0 0 47px #ff0000, 0 0 59px #0000ff;
    }

    @media only screen and (max-width: 1000px) {
        .play-box {
            height: 130px;
            bottom: 22px;
        }
        .play-pause {
            font-size: 100px;
        }
    }
</style>

<div id="main" class="container">
    <audio id="audio" src="" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <div class="row items">
        <div class="col-md-2 play" data-src="https://air.radiorecord.ru:805/trancehits_128">
            Trancehits
        </div>
        <div class="col-md-2 play" data-src="https://air.radiorecord.ru:805/bighits_128">
            Bighits
        </div>
        <div class="col-md-2 play" data-src="https://air.radiorecord.ru:805/tecktonik_128">
            Tecktonic
        </div>
        <div class="col-md-2 play" data-src="https://air.radiorecord.ru:805/jackin_128">
            Bass H
        </div>
        <div class="col-md-2 play" data-src="https://air2.radiorecord.ru:9002/rock_128">
            Rock
        </div>
        <div class="col-md-2 play" data-src="https://air2.radiorecord.ru:805/russianhits_128">
            Russian Hits
        </div>
        <div class="col-md-2 play" data-src="https://air.radiorecord.ru:805/uplift_128">
            Uplift
        </div>
        <div class="col-md-2 play" data-src="https://air.radiorecord.ru:805/progr_128">
            Progressive
        </div>
        <div class="col-md-2 play" data-src="https://air.radiorecord.ru:805/dream_128">
            Dream D
        </div>
        <div class="col-md-2 play" data-src="https://air.radiorecord.ru:805/mmbt_128">
            Mambothon
        </div>
    </div>

	<div class="alert alert-warning no-internet" hidden role="alert">
	  No internet
	</div>
</div>

<div class="play-box">
    <div class="play-box-area">
        <div class="play-pause">
            <i class="fas fa-backward prev" style="margin-right: 55px;"></i>
            <i class="fas fa-play"></i>
            <i class="fas fa-pause" style="display: none"></i>
            <i class="fas fa-forward next" style="    margin-left: 55px;"></i>

        </div>
    </div>
</div>

<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>

<script>
    let audio = document.getElementById("audio");
    let audio_status = 'pause';
    let audio_src = 'https://air.radiorecord.ru:805/bighits_128';
    let interval = '';
	let currentTime = -1;

    $(".play").click(function (e) {
		clearInterval(interval);

        if ($(this).hasClass("active")) {
            pause();
        } else {
            play($(this).data("src"));
        }

        audio.currentTime = 0;
    });

    $(".fa-play").click(function (e) {
        play(audio_src);
    });

    $(".prev").click(function (e) {
        let src = $("div[data-src='" + audio_src +"']").prev("div").data("src");

        if (!src) src = $(".play").last("div").data("src");

        pause();
        play(src);
    });

    $(".next").click(function (e) {
        let src = $("div[data-src='" + audio_src +"']").next("div").data("src");

        if (!src) src = $(".play").first("div").data("src");

        pause();
        play(src);
    });

    $(".fa-pause").click(function (e) {
        pause();
    });

	function play(src) {
        audio_src = src;
        $("#audio").attr("src", src);

        // alert(audio_src)

        $(".play").removeClass("active");
        $("div[data-src='" + audio_src +"']").addClass("active");
        $(".play-pause .fa-play").hide();
        $(".play-pause .fa-pause").show();

        audio.play()
			.then(function() {
                audio_status = 'play';
			})
			.catch(function(e) {
				console.log(e)
			});
	}

	function pause() {
		audio_status = 'pause';
		audio.pause();
        $(".play").removeClass("active");
        $(".play-pause .fa-play, .play-pause .fa-pause").toggle();
    }

	document.body.onkeyup = function(e){
		if(e.keyCode == 32){
			if (audio_status === 'play') {
				pause();
			} else {
				play(audio_src);
			}
		}
	}

    audio.onplay = function() {
        console.log('play')
	    audio_status === 'play';
    };

    audio.onpause = function() {
        if (currentTime !== audio.currentTime) {
            console.log('pause')
            audio_status = 'pause';
        }
    };

	setInterval(function() {
		$(".no-internet").hide();

		if (currentTime === audio.currentTime && audio_status === 'play') {
			play(audio_src);
			$(".no-internet").show();
			console.log('replay interval')
		}

		currentTime = audio.currentTime;
	}, 1000)

</script>
