.header {
    padding: 5px 0;
}

.feature2 {
    width: 100%;
}

#menu {
    padding-top: 8px;
    font-size: 20px;
    color: black;
}
#menu li a {
    margin-right: 15px;
}

#menu li a {
    color: black;
}

#menu ul, #menu li {
    display: inline;
}

.mob-burger {
    display: none;
}

.logo img {
    width: 50px;
    height: 50px;
}
.logo {
    height: auto;
}
#suggest ul li{
    cursor: pointer;
    padding: 3px;
}
#suggest{
    margin-top: -12px;
    background: white;
    padding: 9px;
    border-radius: 10px;
}
.container #menu .showFlex{
    display: flex;
}

@media (max-width: 1000px){
    .mob-burger{
        display: block;
    }
    #menu ul  {
        text-align: center;
        padding: 8px 0;
        display: none;
    }
    #userAreMenu {
        display: none;
    }
    .container .row ul{
        left: -80px!important;
    }
}

.sidebar-mob a {
    color:black;
}

.sidebar-mob ul li {
    padding: 11px;
    font-size: 20px;
}

.sidebar-mob {
    display: none;
    height: 100%;
    width: 300px;
    top: 0px;
    right: 0px;
    position: fixed;
    z-index: 9999;
    background: white;
    box-shadow: -5px 9px 20px 0px;
}

.close {
    float: right;
    padding: 7px;
    font-size: 24px;
    opacity: 1;
}

.userBlock .author-area  .notification_count {
    right: -6px;
    top: -7px;
}
.author-area .notification_count {
    font-size: 14px;
    position: absolute;
    font-weight: 500;
    line-height: 22px;
    width: 22px;
    text-align: center;
    background: #ff0000;
    color: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
