
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb">
                        <ul>
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <a href="#">Manage Employee</a>
                            </li>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end /.col-md-12 -->
            </div>
            <!-- end /.row -->
        </div>
        <!-- end /.container -->
    </section>
    <!--================================
        END BREADCRUMB AREA
    =================================-->

    <!--================================
            START DASHBOARD AREA
    =================================-->
    <section class="dashboard-area">
        <div class="dashboard_contents">
            <div class="container">

                <form id="eployee-manage" action="/specialists" method="post" redirectTo="/profile/employees.html" enctype="multipart/form-data">

                <div class="row">
                        <div class="col-lg-8">
                                <div class="upload_modules">
                                    <a class="toggle_title" href="#collapse2" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapse2">
                                        <h4>Employee Info
                                            <span class="lnr lnr-chevron-down"></span>
                                        </h4>
                                    </a>

                                    <div class="information__set toggle_module collapse show" id="collapse2">
                                        <div class="modules__content">

                                            <div class="form-group">
                                                <label for="product_name" translate="settings_name"><span>(Max 100 characters)</span>
                                                </label>
                                                <input type="text" required name="name" class="text_field" >
                                            </div>

                                            <div class="form-group">
                                                <label for="product_name">Position
                                                </label>
                                                <input type="text" name="position" class="text_field" >
                                            </div>
                                            
                                            <div class="form-group">
                                                <label for="product_name">Description
                                                </label>
                                                <input type="text" name="description" class="text_field" >
                                            </div>

                                            <div class="form-group">
                                                <label for="product_name" translate="settings_email"></label>
                                                <input type="email" name="email" class="text_field" >
                                            </div>

                                            <div class="form-group">
                                                <label for="product_name" translate="settings_phone"></label>
                                                <input type="number" name="phone" class="text_field" >
                                            </div>

                                        </div>
                                        <!-- end /.modules__content -->
                                    </div>
                                </div>

                                <!-- submit button -->
                                <button type="submit" class="btn btn--round btn--fullwidth btn--lg">Submit Your Item for Review</button>
                        </div>
                        <!-- end /.col-md-8 -->

                        <div class="col-lg-4">
                            <aside class="sidebar upload_sidebar">
                                <div class="sidebar-card">
                                    <div class="card-title">
                                        <h3>Quick Upload Rules</h3>
                                    </div>

                                    <div class="card_content">
                                        <div class="form-group">
                                            <div class="upload_wrapper">
                                                <p>Upload Thumbnail
                                                    <span>(JPEG or PNG)</span>
                                                </p>

                                                <div class="form-group upload-image">
                                                    <div class="upload_wrapper row">
                                                        <div class="col-4">
                                                            <div class="imagePreview">
                                                                <img id="imagePreview" src="" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="col-8">
                                                            <div class="custom_upload">
                                                                <label for="image">
                                                                    <input autocomplete="off" type="file" name="image"
                                                                           accept="image/*" class="files" id="image">
                                                                    <span class="btn btn--round btn--sm">Choose File</span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <!-- end /.upload_wrapper -->
                                        </div>
                                    </div>
                                </div>
                            </aside>
                            <!-- end /.sidebar -->
                        </div>

                    <!-- end /.col-md-4 -->
                </div>
                </form>

                <!-- end /.row -->
            </div>
            <!-- end /.container -->
        </div>
        <!-- end /.dashboard_menu_area -->
    </section>
    <!--================================
            END DASHBOARD AREA
    =================================-->


    <script>
        var url = new URL(location.href);
        var employeeId = url.searchParams.get('id');

        if(employeeId) {
            $("#eployee-manage").attr("action", "/specialists/"+employeeId).attr("method", "put");
            $.get("/specialists/"+employeeId, function (item) {
                $('#eployee-manage input[name="name"]').val(item.name);
                $('#eployee-manage input[name="position"]').val(item.position);
                $('#eployee-manage input[name="description"]').val(item.description);
                $('#eployee-manage input[name="email"]').val(item.email);
                $('#eployee-manage input[name="phone"]').val(item.phone);
                $('#eployee-manage #imagePreview').attr("src", item.image);
            })
        }
    </script>