<style>
   .speaker__thumbnail > img {
        width: 263px;
        height: 263px;
        object-fit: cover;
    }
    .manage {
        float: right;
        display: flex;
        font-size: 25px;
        position: relative;
        top: 38px;
    }
    .manage li {
        margin: 0 2px;
    }
</style>


    <!--================================
        START BREADCRUMB AREA
    =================================-->
    <section class="breadcrumb-area ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb">
                        <ul>
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li class="active">
                                <a href="#">Employees</a>
                            </li>
                            <li>
                                <a href="/profile/employee-manage.html">
                                    <button class="btn btn-lg btn--round btn-success">Add +</button>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <h1 class="page-title">Employees</h1>
                </div>
                <!-- end /.col-md-12 -->
            </div>
            <!-- end /.row -->
        </div>
        <!-- end /.container -->
    </section>
    <!--================================
        END BREADCRUMB AREA
    =================================-->

    <!--================================
            START SIGNUP AREA
    =================================-->
    <section class="bgcolor section--padding dashboard-edit dashboard-area">
        <div class="shortcode_wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="employee-list row">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<style>
    .employee-manage>span{
        margin-left: 10px;
    }
    .employee-manage {
        width: max-content;
        font-size: 20px;
        position: absolute;
        right: 15px;
        top: 5px;
        background: var(--light);
        border-radius: 10px;
        padding-left: 10px;
        padding-right: 10px;
        color: var(--indigo);
    }
</style>

    <script>

        drawEmployeeS();

        function drawEmployeeS() {
            $.get('/specialists', function(items) {
                items.forEach(function(item) {
                    drawEmployee(item);
                });
            });
        }

        function drawEmployee(item) {
            var employee = `
                    <div class="col-lg-4 col-md-6" data-id="${item._id}">
                        <div class="card_style1">
                            <figure class="card_style1__info">
                                <div class="employee-manage">
                                    <a href="/profile/employee-manage.html?id=${item._id}">
                                        <span style="" class="lnr lnr-pencil"></span>
                                    </a>
                                    <span onclick="deleteEmployee('${item._id}')" class="lnr lnr-cross-circle"></span>
                                </div>
                                <img width="200px" height="200px" style="object-fit: contain"  src="${item.image || '/design/images/ev2.jpg'}" alt="Event card thumbnail">

                                <figcaption>
                                    <a href="#">
                                        <h3>${item.name}</h3>
                                    </a>
                                    <ul class="date_place">
                                        <li>
                                            <span class="lnr lnr-users"></span>
                                            <p>${item.position}</p>
                                        </li>
                                        <li>
                                            <span class="lnr lnr-phone"></span>
                                            <p>${item.phone}</p>
                                        </li>
                                    </ul>
                                </figcaption>
                            </figure>
                        </div>
                    </div>`;

            $(".employee-list").append(employee);
        }

        function deleteEmployee(id) {
            if(!confirm("Вы уверены?")) return false;

            $.ajax({
                url: "/specialists/"+id,
                method: "delete",
            })
                .done(function (mess) {
                    $('[data-id="'+ id +'"]').remove()
                })

        }

    </script>