
    <!--================================
        START BREADCRUMB AREA
    =================================-->
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb">
                        <ul>
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li class="active">
                                <a href="#">Message</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end /.col-md-12 -->
            </div>
            <!-- end /.row -->
        </div>
        <!-- end /.container -->
    </section>
    <!--================================
        END BREADCRUMB AREA
    =================================-->

    <!--================================
            START MESSAGE AREA
    =================================-->
    <section class="message_area pt-3">
        <div class="container">
            <!-- end /.row -->
            <div class="row">
                <div class="col-lg-5 col-sm-5 users-block d-lg-block d-block p-0">
                    <span class="lnr lnr-cross-circle d-block d-lg-none show-user-list" onclick="$('.users-block').toggleClass('d-block');" style="right: -13px;z-index: 99;margin: 15px;position: absolute;"></span>
                    <div class="cardify messaging_sidebar">
                        <!-- end /.messaging__header -->

                        <div class="messaging__contents">
                            <div class="message_search">
                                <form action="/users" id="searchUsers" onSubmit="searchUsers(this)">
                                    <input type="text" name="email" autocomplete="off" placeholder="" translateElement="placeholder" translate="messages_search-users">
                                    <span class="lnr lnr-magnifier"></span>
                                </form>
                            </div>
                            <div class="user-search-list"></div>

                            <div class="users" >
                                <!-- end /.message -->
                                <div class="placeholder">
                                    <div class="ph-item ">
                                        <div class="ph-col-2">
                                            <div class="ph-avatar"></div>
                                        </div>
                                        <div>
                                            <div class="ph-row">
                                                <div class="ph-col-4"></div>
                                                <div class="ph-col-8 empty"></div>
                                                <div class="ph-col-6"></div>
                                                <div class="ph-col-6 empty"></div>
                                                <div class="ph-col-2"></div>
                                                <div class="ph-col-10 empty"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ph-item">
                                        <div class="ph-col-2">
                                            <div class="ph-avatar"></div>
                                        </div>
                                        <div>
                                            <div class="ph-row">
                                                <div class="ph-col-4"></div>
                                                <div class="ph-col-8 empty"></div>
                                                <div class="ph-col-6"></div>
                                                <div class="ph-col-6 empty"></div>
                                                <div class="ph-col-2"></div>
                                                <div class="ph-col-10 empty"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ph-item">
                                    <div class="ph-col-2">
                                        <div class="ph-avatar"></div>
                                    </div>
                                    <div>
                                        <div class="ph-row">
                                            <div class="ph-col-4"></div>
                                            <div class="ph-col-8 empty"></div>
                                            <div class="ph-col-6"></div>
                                            <div class="ph-col-6 empty"></div>
                                            <div class="ph-col-2"></div>
                                            <div class="ph-col-10 empty"></div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <!-- end /.messages -->
                        </div>
                        <!-- end /.messaging__contents -->
                    </div>
                    <!-- end /.cardify -->
                </div>
                <!-- end /.col-md-5 -->

                <div class="col-lg-7 col-sm-12 messages-block p-0">
                    <div class="chat_area cardify">
                        <div class="chat_area_user"></div>
                        <div class="messages">
                            <div class="ph-item">
                                <div class="ph-col-2">
                                    <div class="ph-avatar"></div>
                                </div>
                                <div>
                                    <div class="ph-row">
                                        <div class="ph-col-4"></div>
                                        <div class="ph-col-8 empty"></div>
                                        <div class="ph-col-6"></div>
                                        <div class="ph-col-6 empty"></div>
                                        <div class="ph-col-2"></div>
                                        <div class="ph-col-10 empty"></div>
                                    </div>
                                </div>

                            </div>
                            <div class="ph-item" style="    direction: rtl;">
                                <div class="ph-col-2">
                                    <div class="ph-avatar"></div>
                                </div>
                                <div>
                                    <div class="ph-row">
                                        <div class="ph-col-4"></div>
                                        <div class="ph-col-8 empty"></div>
                                        <div class="ph-col-6"></div>
                                        <div class="ph-col-6 empty"></div>
                                        <div class="ph-col-2"></div>
                                        <div class="ph-col-10 empty"></div>
                                    </div>
                                </div>

                            </div>
                            <div class="ph-item" >
                                <div class="ph-col-2">
                                    <div class="ph-avatar"></div>
                                </div>
                                <div>
                                    <div class="ph-row">
                                        <div class="ph-col-4"></div>
                                        <div class="ph-col-8 empty"></div>
                                        <div class="ph-col-6"></div>
                                        <div class="ph-col-6 empty"></div>
                                        <div class="ph-col-2"></div>
                                        <div class="ph-col-10 empty"></div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <!-- end /.chat_area--conversation -->

                        <div class="message_composer" style="display: none">
                            <form action="/messages" onSuccess="sendMessage(res)" method="POST" id="chat">
                                <input type="hidden" id="toUser" name="toUser" value="">
                                <button class="btn send btn--sm btn--round"><span class="lnr lnr-location"></span></button>
                                <textarea  required name="body" id="sendMessage" cols="30" rows="1"></textarea>
                            </form>
                        </div>
                        <!-- end /.message_composer -->
                    </div>
                    <!-- end /.chat_area -->
                </div>
                <!-- end /.col-md-7 -->
            </div>
            <!-- end /.row -->
        </div>
    </section>
    <!--================================
            END MESSAGE AREA
    =================================-->

    <script>

        var userList = [];
        var userSearchList = [];
        var url = new URL(location.href);

        if($.isEmptyObject(loggedUser)) {
            changeURL("/login.html");
        }

        userList[loggedUser._id] = [loggedUser];

        $.get("/messages/companions", function (items) {
            loader(false);
            drawUsers(items);
        }).then(function () {
            console.log("/messages/companions");
            fetchNewMessages ();
            let companion = url.searchParams.get("companion");
            if(companion) {
                if($("div[data-id='"+ companion +"']").length) {
                    $("div[data-id='"+ companion +"']").click();
                } else searchUser(companion);
            }
        });

        function showUserList() {
            if(window.innerWidth <= 1000)
                $(".users-block").removeClass("d-block");
        }


        // Users
        function startConversation (el) {
            console.log("startConversation")

            let companion = $(el).attr("data-id");
            let notificationCount = parseInt($(el).find(".notification_count").text());
            if(notificationCount) {
                let authorNotification = $(".loginBlock .notification_count");
                let authorNotificationCount = parseInt(authorNotification.text()) - notificationCount;
                authorNotificationCount && $(".author-area .notification_count").text(authorNotificationCount) || $(".author-area .notification_count").hide()
            }
            // url.searchParams.set("companion", companion);
            // history.pushState({}, 'title', url);

            $(".chat_area_user").html(`
                <div class="" style="padding: 7px;  border-bottom: 1px solid;    margin-bottom: 5px;">
                    <span class="lnr lnr-user d-block d-lg-none show-user-list" onclick="$('.users-block').toggleClass('d-block');" style="float: left;padding: 15px;"></span>
                    <img src="${userList[companion][0].image || '/assets/images/m1.png'}" alt="Avatar" class="right" style="position: absolute;  width: 50px; height: 50px; right:25px; border-radius: 50px;">
                    <div class="" style=" text-align: center;   padding-top: 7px;">
                      <a href="/profile/profile.html?user=${userList[companion][0]._id}"><p>${userList[companion][0].name}</p></a>
                    </div>
                </div>`)

            fetchMessages(companion);

            return false;
        }

        function createConversation(el) {
            console.log("createConversation")

            let id = $(el).attr("data-id");
            addCompanion(id);

            $("div[data-id='"+ userSearchList[id]._id +"']").click();
            $("#searchUsers input").val('')
            return false;
        }

        function addCompanion(id) {
            console.log("addCompanion")

            $(".user-search-list").html("");

            if(!userList[userSearchList[id]._id]) {
                userList[userSearchList[id]._id] = [userSearchList[id]];
                drawUser(userSearchList[id])
            }
        }

        function drawUsers(users) {
            console.log("drawUsers")
            $(".users .placeholder").remove();
            users && users.forEach(function (user) {
                $(".users .empty-user-list").remove();
                userList[user.user[0]['_id']] = user.user;

                // if(user.user[0]._id !== loggedUser._id) {
                    drawUser(user.user[0])
                // }
            }) || showDefaultEmptyContent()
        }

        function showDefaultEmptyContent() {
            $(".users ").append(`<div class="empty-user-list" style="
                        font-size: 100px;
                        width: max-content;
                        margin: 0 auto;
                        height: 418px;
                        vertical-align: middle;
                        padding: 15%;
                    "><span class="delete fa fa-user" style="
                    "></span></div>`);

            $(".messages").html(`<div class="empty-message-list" style="
                        font-size: 100px;
                        width: max-content;
                        margin: 0 auto;
                        height: 418px;
                        vertical-align: middle;
                        padding: 15%;
                    "><span class="fa fa-comments" style="
                    "></span></div>`)
        }

        function drawUser(user) {
            console.log("drawUser")

            $(".empty-user-list").remove();
            $(".users").prepend(userComponent(user));
        }

        function removeChat(el) {
            if(confirm("Are you sure you want to delete this?")){
                $(el).parent("div").remove();
                $(".messages").html("");
                let companionId = $(el).parent("div").attr("data-id");
                $.post("/messages/"+companionId, {method: "DELETE", _method: "DELETE"}, function (res) {
                    console.log(res)
                })
            }
        }

        function userComponent(user) {
            console.log("userComponent")

            return `<div onclick="showUserList()">
                        <div class="user message__actions_avatar" onclick="return startConversation(this)" data-id="${user._id}">
                        <span class="delete fa fa-trash" onclick="removeChat(this)" style="float: right; margin: 5px"></span>
                            <div class="avatar" style="float: left">
                                <img src="${user.image || '/assets/images/m1.png' }" alt="">
                            </div>
                            <div class="name " >
                                <span class="notification_count noti custom-badge " style="display: none;"></span>
                                <p>${user.name || 'username'}</p>
                                <!--<span style="float: right">${moment(user.lastActivity).fromNow()}</span><br>-->
                                <span style="float: right">${ moment(new Date()).diff(user.lastActivity, "minutes") <= 2 && 'Online' || moment(user.lastActivity).fromNow() }</span><br>
                            </div>
                        </div>
                    </div>`;
        }

        // Search Users
        function searchUser(id) {
            console.log("searchUser")

            $.get("/users?_id=" + id, function (item) {

                if(item.length) {
                    item = item[0];
                    userList[item._id] = [item];
                    drawUser(item);
                    $("div[data-id='"+ item._id +"']").click();
                } else
                    changeURL("404.html")
            });
        }

        function searchUsers(form) {
            console.log("searchUsers")

            $.get("/users?" + $(form).serialize(), function (items) {
                $(".user-search-list").html("");
                userSearchList = items;

                if(items.length)
                    items.forEach(function (item, key) {
                        $(".user-search-list").append(`
                            <div class="user-search" style="border-bottom: 1px solid;">
                                <a href="#" data-id="${key}" onclick="return createConversation(this)" class=" list-group-item-action" style="   padding: 8px; width: 75%;    float: left;">${item.name}</a>
                                <img src="${item.image || '/assets/images/m1.png'}" alt="" style="    width: 42px;  height: 42px;  border-radius: 35px;    padding-top: 3px;">
                            </div>
                        `)
                    });
                else
                    $(".user-search-list").append('Not found');
            });
        }

        // Messages
        // fetch new messages

        function fetchNewMessages() {
            console.log("fetchNewMessages")

            let url = new URL(location.href);

            $.get("/messages/getNewMessages", function (items) {
                items.forEach(function (item) {

                    let userNotification = $(`div[data-id="${item._id}"] .notification_count`);

                    if(typeof userList !== 'undefined' && !userNotification.length && location.pathname === "/profile/messages.html") {
                        $.get(`/users/${item._id}`, function (user) {
                            userList[user._id] = [user];
                            drawUser(user)
                        })
                    }
                    else if(url.searchParams.get("companion") === item._id) {
                        $(`div[data-id="${item._id}"]`).click();
                    }
                    else if(location.pathname.indexOf("/profile/messages.html")) {
                        userNotification.show().text(item.count);
                    }
                });
            });
        }

        function sendMessage(message) {
            console.log("sendMessage")
            $("#sendMessage").val('')
            drawMessage(message);
        }

        function fetchMessages(companion) {
            console.log("fetchMessages")

            $(".user").removeClass('active');
            $("div[data-id='"+ companion +"']").addClass('active');
            $(".message_composer").show();
            $("div[data-id='"+ companion +"'] .notification_count").hide().text('');

            $.get(`/messages/${companion}`, function (items) {
                $("#toUser").val(companion);
                drawMessages(items);
            })
        }

        function drawMessages(messages) {
            console.log("drawMessages")

            messages && messages.forEach(function (message) {
                $(".messages").html('');
                drawMessage(message)
            })
        }

        function drawMessage(message) {
            console.log("drawMessage")

            $(".messages").append(messageComponent(message))

            $(".messages").scrollTop($(".messages")[0].scrollHeight);
        }

        function messageComponent(message) {
            console.log("messageComponent")
            return `
                    <div class="container darker ${message.fromUser === loggedUser._id ? 'my-message' : ''} ">
                        <img width="50px" height="50px" src="${userList[message.fromUser][0].image || '/assets/images/m1.png'}" alt="Avatar" class="right">
                        <div class="message-content">
                          <p>${message.body}</p>
                          <span class="time-left">${moment(message.createdAt).fromNow()}</span>
                        </div>
                    </div>`;
        }

    </script>