<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb">
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li class="active">
                            <a href="#">Orders</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- end /.col-md-12 -->
        </div>
        <!-- end /.row -->
    </div>
    <!-- end /.container -->
</section>

<section condition="loggedUser.serviceProvider" class="dashboard-area dashboard_purchase">
    <div class="pt-2 pb-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 translate="index_client-orders"></h2>
                    <div class="filter-bar clearfix filter-bar2">
                        <div class="table-responsive">
                            <table class="table withdraw__table client-orders">
                                <thead>
                                <tr>
                                    <th translate="orders_product-title"></th>
                                    <th translate="orders_order-details"></th>
                                    <th translate="user"></th>
                                    <th translate="price"></th>
                                    <th translate="status"></th>
                                </tr>
                                </thead>
                            </table>
                        </div>

                    </div>
                    <!-- end /.filter-bar -->
                </div>
                <!-- end /.col-md-12 -->
            </div>
            <!-- end /.row -->

            <!-- end /.row -->
        </div>
        <!-- end /.product_archive2 -->
    </div>
    <!-- end /.dashboard_menu_area -->
</section>


<section class="dashboard-area dashboard_purchase">
    <div class="pt-2 pb-2">
        <div class="container">
            <h2 translate="index_my-orders"></h2>
            <div class="product_archive">
                <div class="table-responsive">
                    <table class="table withdraw__table my-orders">
                        <thead>
                        <tr>
                            <th translate="orders_product-title"></th>
                            <th translate="orders_order-details"></th>
                            <th translate="price"></th>
                            <th translate="status"></th>
                        </tr>
                        </thead>
                    </table>
                </div>

                </div>
                <!-- end /.row -->
            </div>
            <!-- end /.product_archive2 -->
        </div>
        <!-- end /.container -->
    <!-- end /.dashboard_menu_area -->
</section>
<!--================================
        END DASHBOARD AREA
=================================-->

<script>

    var order = new Order();
    order.drawOrders("myOrders", ".my-orders")
        .then(() => translate(Language))

    order.drawOrders("clientOrders", ".client-orders")
    .then(() => translate())

    function setStatus(status, id) {
        $(".order-"+id+" .statusManage").hide();
        $(".order-"+id+" .orderStatus").text(status && "Accepted" || "Declined");
    }

</script>