<!--================================
    START BREADCRUMB AREA
=================================-->
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb">
                    <ul>
                        <li>
                            <a href="/home.html">Home</a>
                        </li>
                        <li class="active">
                            <a href="#">Profile</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- end /.col-md-12 -->
        </div>
        <!-- end /.row -->
    </div>
    <!-- end /.container -->
</section>
<!--================================
    END BREADCRUMB AREA
=================================-->

<!--================================
    START AUTHOR AREA
=================================-->
<section class="author-profile-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <aside class="sidebar sidebar_author">
                    <div class="author-card sidebar-card">
                        <div class="author-infos">
                            <div class="author_avatar">
                                <img style="    width: 100px; height: 100px;" src="" alt="Presenting the broken author avatar :D">
                            </div>

                            <div class="author">
                                <h4 class="user_name"></h4>
                                <p><span translate="profile_signedAt"></span>: <span class="signed_up"></span></p>
                                <p><span translate="settings_email"></span>: <span class="email"></span></p>
                            </div>
                            <!-- end /.author -->

                            <div class="social social--color--filled">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-facebook"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-twitter"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-dribbble"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- end /.social -->

                            <div class="author-btn">
                                <a href="/profile/messages.html?companion=" class="btn btn--md btn--round hrefAppendId" translate="compose-message"></a>
                            </div>
                            <!-- end /.author-btn -->
                        </div>
                        <!-- end /.author-infos -->


                    </div>
                    <!-- end /.author-card -->
            </div>
            <!-- end /.sidebar -->

            <div class="col-lg-8 col-md-12">
                <div class="row">

                    <div class="col-md-12 col-sm-12">

                        <div class="author_module about_author" hidden>
                            <h2>About
                                <span class="user_name"></span>
                            </h2>
                            <div class="user-description"></div>
                        </div>
                    </div>
                </div>
                <!-- end /.row -->

                <div class="row dashboard-edit">
                    <div class="col-md-12">
                        <div class="product-title-area">
                            <div class="product__title">
                                <h2><span translate="profile_user-serives"></span></h2>
                            </div>
                            <a href="" class="btn btn--sm user-all-services" translate="profile_all-items"></a>
                        </div>
                        <!-- end /.product-title-area -->
                        <div class="services row"></div>
                    </div>
                    <!-- end /.col-md-12 -->
                </div>
                <!-- end /.row -->
            </div>
            <!-- end /.col-md-8 -->

        </div>
        <!-- end /.row -->
    </div>
    <!-- end /.container -->
</section>
<!--================================
    END AUTHOR AREA
=================================-->




<script>

    var url = new URL(location.href);
    var userId = url.searchParams.get("user");

    if(userId) {
        $.get("/users/"+userId, function (user) {
            drawUserData(user);
        })
    } else {
        if($.isEmptyObject(loggedUser)) { changeURL("/login.html") }
        drawUserData(loggedUser)
    }


    function drawUserData(user) {
        $(".author_avatar img").attr("src", user.image || '/assets/images/m1.png');
        $(".user-all-services").attr("href", `/services.html?user=${user._id}`);
        $(".user_name").text(user.name);
        $(".signed_up").text(moment(user.lastActivity).fromNow());
        $(".email").text(user.email);
        $(".hrefAppendId").attr("href", $(".hrefAppendId").attr("href") + user._id);

        service.renderItems(`?user=${user._id}&limit=6&populate[]=user&populate[]=category`, false, 6);
    }

</script>