    <!--================================
        START BREADCRUMB AREA
    =================================-->
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb">
                        <ul>
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <a href="/dashboard.html">Dashboard</a>
                            </li>
                            <li class="active">
                                <a href="#">My services</a>
                            </li>
                            <li class="active">
                                <a href="/profile/service-manage.html"><button class="btn btn-lg btn--round" translate="create"></button></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end /.col-md-12 -->
            </div>
            <!-- end /.row -->
        </div>
        <!-- end /.container -->
    </section>
    <!--================================
        END BREADCRUMB AREA
    =================================-->

    <!--================================
            START DASHBOARD AREA
    =================================-->
    <section class="dashboard-edit dashboard-area">

        <div class="dashboard_contents">
            <div class="container">
                <div class="row services">
                </div>

            </div>
        </div>
    </section>
    <!--================================
            END DASHBOARD AREA
    =================================-->

    <script>
        service.renderItems(`?populate[]=user&populate[]=category&user=${loggedUser._id}`, true)
            .then(() => translate())
    </script>