<style>
    .imagePreview img {
        object-fit: cover;
        object-position: center;
        width: 100px;
        height: 100px;
    }

    .imagePreview {
        width: 100px;
        height: 100px;
        background: grey;
    }

    .working-days .custom_checkbox {
        display: inline-block;
        margin-right: 20px;
        margin-top: 0;
    }

    .working-days .shadow_checkbox {
        padding-top: 15px;
        cursor: pointer;
    }

    .specialists {
        box-shadow: 0 2px 4px rgb(0, 0, 0);
    }
    .specialists img {
        cursor: pointer;
    }
</style>

<!--================================
    START BREADCRUMB AREA
=================================-->
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb">
                    <ul>
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/services.html">Services</a>
                        </li>
                        <li class="active">
                            <a href="#">Edit Item</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- end /.col-md-12 -->
        </div>
        <!-- end /.row -->
    </div>
    <!-- end /.container -->
</section>
<!--================================
    END BREADCRUMB AREA
=================================-->

<!--================================
        START DASHBOARD AREA
=================================-->
<section class="dashboard-area">
    <div class="dashboard_contents">
        <div class="container">
            <form id="serviceManageForm" method="post" action="/services" redirectTo="/profile/services.html"
                  enctype="multipart/form-data">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="upload_modules">
                            <a class="toggle_title" href="#collapse2" role="button" data-toggle="collapse"
                               aria-expanded="true" aria-controls="collapse2">
                                <h4><span translate="service_details"></span>
                                    <span class="lnr lnr-chevron-down"></span>
                                </h4>
                            </a>

                            <div class="information__set toggle_module collapse show" id="collapse2" style="">
                                <div class="modules__content">

                                    <div class="tab tab1">
                                        <div class="item-navigation">
                                            <ul class="nav nav-tabs" role="tablist">
                                                <li>
                                                    <a href="#lang-ru" aria-controls="product-details" role="tab" data-toggle="tab" aria-expanded="false" class="active" aria-selected="true">Ru</a>
                                                </li>
                                                <li class="">
                                                    <a href="#lang-ro" aria-controls="product-comment" role="tab" data-toggle="tab" aria-expanded="false" class="" aria-selected="false">Ro</a>
                                                </li>
                                                <li class="">
                                                    <a href="#lang-en" aria-controls="product-review" role="tab" data-toggle="tab" aria-expanded="false"  aria-selected="false">En
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="tab-content">
                                            <div role="tabpanel" class="fade tab-pane product-tab active show" id="lang-ru">
                                                <div class="form-group">
                                                    <label for="product_name" translate="orders_product-title"></span>
                                                    </label>
                                                    <input autocomplete="off" type="text" required name="ruTitle" class="text_field"
                                                           value=""
                                                           placeholder="">
                                                </div>

                                                <div class="form-group">
                                                    <label for="product_name" translate="service_short-desc"></label>
                                                    <input autocomplete="off" required type="text" name="ruSDesc" class="text_field"
                                                           value="" placeholder="">
                                                </div>

                                                <div class="form-group no-margin">
                                                    <p class="label" translate="service_full-desc"></p>
                                                    <textarea name="ruFDesc" id="ruFDesc" cols="0" rows="10" hidden></textarea>
                                                    <div class="composer_field ruFDesc trumbowyg" data-id="ruFDesc"></div>
                                                </div>
                                            </div>
                                            <!-- end /.tab-content -->

                                            <div role="tabpanel" class="fade tab-pane product-tab" id="lang-ro">
                                                <div class="form-group">
                                                    <label for="product_name" translate="orders_product-title"></span>
                                                    </label>
                                                    <input autocomplete="off" type="text" name="roTitle" class="text_field"
                                                           value=""
                                                           placeholder="">
                                                </div>

                                                <div class="form-group">
                                                    <label for="product_name" translate="service_short-desc"></label>
                                                    <input autocomplete="off" type="text" name="roSDesc" class="text_field"
                                                           value="" placeholder="">
                                                </div>

                                                <div class="form-group no-margin">
                                                    <p class="label" translate="service_full-desc"></p>
                                                    <textarea hidden name="roFDesc" id="roFDesc" cols="0" rows="10"></textarea>
                                                    <div class="composer_field roFDesc trumbowyg" data-id="roFDesc"></div>
                                                </div>
                                            </div>
                                            <!-- end /.product-comment -->

                                            <div role="tabpanel" class="fade tab-pane product-tab " id="lang-en">
                                                <div class="form-group">
                                                    <label for="product_name" translate="orders_product-title"></span>
                                                    </label>
                                                    <input autocomplete="off" type="text" name="enTitle" class="text_field"
                                                           value=""
                                                           placeholder="">
                                                </div>

                                                <div class="form-group">
                                                    <label for="product_name" translate="service_short-desc"></label>
                                                    <input autocomplete="off" type="text" name="enSDesc" class="text_field"
                                                           value="" placeholder="">
                                                </div>

                                                <div class="form-group no-margin">
                                                    <p class="label" translate="service_full-desc"></p>
                                                    <textarea hidden name="enFDesc" id="enFDesc" cols="0" rows="10"></textarea>
                                                    <div class="composer_field enFDesc trumbowyg" data-id="enFDesc"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="category" translate="category"></label>
                                        <div class="select-wrap select-wrap2 ">
                                            <select required name="category" onchange="$('.suggest_category').prop('hidden', this.selectedIndex !== 1);" id="category" class="category text_field">
                                                <option value="" translate="category-select"></option>
                                                <option value="" translate="category-suggest"></option>
                                            </select>
                                            <span class="lnr lnr-chevron-down"></span>
                                            <input hidden name="suggestCategory" class="suggest_category" type="text" placeholder="New category">
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12  working-days">
                                            <div class="form-group">
                                                <label for="soft" translate="publish"></label>
                                                <div class="custom_checkbox">
                                                    <input autocomplete="off" type="checkbox" name="publish" value="1" id="publish">
                                                    <label for="publish">
                                                        <span class="shadow_checkbox"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group mb-0">
                                                <label for="rlicense" translate="order-per-hour"></label>
                                                <div class="input-group">
                                                    <input autocomplete="off" type="number" min="0" name="maxOrdersOnTime" class="text_field" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end /.col-md-6 -->

                                        <div class="col-md-6">
                                            <div class="form-group mb-0">
                                                <label for="exlicense" translate="service-duration"></label>
                                                <div class="input-group">
                                                    <input autocomplete="off" type="number" min="0" name="serviceTimeDuration" class="text_field" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end /.col-md-6 -->

                                    </div>

                                </div>
                                <!-- end /.modules__content -->
                            </div>
                        </div>

                        <div class="upload_modules">
                            <a class="toggle_title" href="#collapse5" role="button" data-toggle="collapse"
                               aria-expanded="true" aria-controls="collapse5">
                                <h4><span translate="service_details"></span><span class="lnr lnr-chevron-down"></span></h4>
                            </a>

                            <div class="information__set toggle_module collapse show" id="collapse5" style="">
                                <div class="modules__content">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group mb-0">
                                                <label for="rlicense" translate="price"></label>
                                                <div class="input-group">
                                                    <input autocomplete="off" required type="number" min="0" name="amount"
                                                           class="text_field" value="" placeholder="$ 00.00">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end /.col-md-6 -->

                                        <div class="col-md-6">
                                            <div class="form-group mb-0">
                                                <label for="exlicense" translate="currency"></label>
                                                <div class="input-group">
                                                    <select name="currency" class="text_field">
                                                        <option value="USD">USD</option>
                                                        <option value="EUR">EUR</option>
                                                        <option value="MDL">MDL</option>
                                                        <option value="RUB">RUB</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end /.col-md-6 -->
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                            <label for="category">Specialists</label>
                                            <div class="row specialists-list">

                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12  working-days">
                                            <div class="form-group">
                                                <label for="soft" translate="working-days"></label>
                                                <div class="input-group">
                                                    <div class="custom_checkbox">
                                                        <input autocomplete="off" type="checkbox" name="workingDays"
                                                               value="1" id="1">
                                                        <label for="1">
                                                            <span class="shadow_checkbox" translate="day1"></span>
                                                        </label>
                                                    </div>
                                                    <div class="custom_checkbox">
                                                        <input autocomplete="off" type="checkbox" name="workingDays"
                                                               value="2" id="2">
                                                        <label for="2">
                                                            <span class="shadow_checkbox" translate="day2"></span>
                                                        </label>
                                                    </div>
                                                    <div class="custom_checkbox">
                                                        <input autocomplete="off" type="checkbox" name="workingDays"
                                                               value="3" id="3">
                                                        <label for="3">
                                                            <span class="shadow_checkbox" translate="day3"></span>
                                                        </label>
                                                    </div>
                                                    <div class="custom_checkbox">
                                                        <input autocomplete="off" type="checkbox" name="workingDays"
                                                               value="4" id="4">
                                                        <label for="4">
                                                            <span class="shadow_checkbox" translate="day4"></span>
                                                        </label>
                                                    </div>
                                                    <div class="custom_checkbox">
                                                        <input autocomplete="off" type="checkbox" name="workingDays"
                                                               value="5" id="5">
                                                        <label for="5">
                                                            <span class="shadow_checkbox" translate="day5"></span>
                                                        </label>
                                                    </div>
                                                    <div class="custom_checkbox">
                                                        <input autocomplete="off" type="checkbox" name="workingDays"
                                                               value="6" id="6">
                                                        <label for="6">
                                                            <span class="shadow_checkbox" translate="day6"></span>
                                                        </label>
                                                    </div>
                                                    <div class="custom_checkbox">
                                                        <input autocomplete="off" type="checkbox" name="workingDays"
                                                               value="7" id="7">
                                                        <label for="7">
                                                            <span class="shadow_checkbox" translate="day7"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class=" col-md-6  ">
                                            <label for="soft" translate="working-hours"></label>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label for="soft" translate="from"></label>
                                                    <div class="form-group row">
                                                        <div class="d-line mr-1">
                                                            <input autocomplete="off" type="text" name="startTime"
                                                                   value="08:00"  >
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <label for="soft" translate="to"></label>
                                                    <div class="form-group row">
                                                        <div class="d-line mr-1">
                                                            <input autocomplete="off" type="text" name="endTime"
                                                                   value="17:00" pattern="[0-9]{1,2}:[0-9]{1,2}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class=" col-md-6  ">
                                            <label for="soft" translate="lunch-time"></label>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label for="soft" translate="from"></label>
                                                    <div class="form-group row">
                                                        <div class="d-line mr-1">
                                                            <input autocomplete="off" type="text" name="startLunch"
                                                                   value="12:00" pattern="[0-9]{1,2}:[0-9]{1,2}">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="soft" translate="to"></label>
                                                    <div class="form-group row">
                                                        <div class="d-line mr-1">
                                                            <input autocomplete="off" type="text" name="endLunch"
                                                                   value="13:00" pattern="[0-9]{1,2}:[0-9]{1,2}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end /.row -->
                                </div>
                                <!-- end /.modules__content -->
                            </div>
                            <!-- end /.upload_modules -->
                        </div>

                        <!-- submit button -->

                    </div>
                    <!-- end /.col-md-8 -->

                    <div class="col-lg-4 ">
                        <aside class="sidebar upload_sidebar">
                            <div class="upload_modules module--upload">
                                <a class="toggle_title" href="#collapse3" role="button" data-toggle="collapse"
                                   aria-expanded="true" aria-controls="collapse3">
                                    <h4><span translate="settings_image"></span>
                                        <span class="lnr lnr-chevron-down"></span>
                                    </h4>
                                </a>
                                <div class="information__set toggle_module collapse show" id="collapse3" style="">
                                    <div class="modules__content">
                                        <div class="form-group upload-image">
                                            <div class="upload_wrapper row">
                                                <div class="col-4">
                                                    <div class="imagePreview">
                                                        <img id="imagePreview" src="" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-8"><p><span>(JPEG or PNG)</span></p>
                                                    <div class="custom_upload">
                                                        <label for="image">
                                                            <input autocomplete="off" type="file" name="image"
                                                                   accept="image/*" class="files" id="image">
                                                            <span class="btn btn--round btn--sm" translate="settings_upload-image"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div id="map"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside>

                    </div>

                    <!-- end /.col-md-4 -->
                </div>
                <input type="hidden" id="geoPositionLat" value="" name="lat">
                <input type="hidden" id="geoPositionLng" value="" name="lng">
                <input type="hidden" id="geoPositionName" value="" name="geoName">

                <div id="save-btn" class="col-md-8" style=" position: sticky; bottom: 10px; z-index: 9999">
                    <button type="submit" class="btn btn--round btn--fullwidth btn--lg" translate="save"></button>
                </div>

            </form>
        </div>
    </div>
</section>
<!--================================
        END DASHBOARD AREA
=================================-->


<script>

    // Maps
    var setMyPosition;
    var Icon = {};
    var map ;
    var myPositionIcon = {};
    initMap()

    new Category().appendTo();

    var url = new URL(location.href);
    var id = url.searchParams.get('id');

    var service = new Service(id);

    if(id) {
        service.getItem(id)
            .then((item) => {
                $("input[name='ruTitle']").val(item.ruTitle);
                $("input[name='ruSDesc']").val(item.ruSDesc);
                $("input[name='roTitle']").val(item.roTitle);
                $("input[name='roSDesc']").val(item.roSDesc);
                $("input[name='enTitle']").val(item.enTitle);
                $("input[name='enSDesc']").val(item.enSDesc);

                $("input[name='publish']").prop("checked", item.publish);
                $("input[name='maxOrdersOnTime']").val(item.maxOrdersOnTime);
                $("input[name='serviceTimeDuration']").val(item.serviceTimeDuration);
                console.log(item)

                $(".ruFDesc").html(item.ruFDesc);
                $(".roFDesc").html(item.roFDesc);
                $(".enFDesc").html(item.enFDesc);

                $("input[name='amount']").val(item.price.amount);
                $("option[value='"+ item.price.currency +"']").prop("selected", true);

                item.startTime && $("input[name='startTime']").val(item.startTime);
                item.endTime && $("input[name='endTime']").val(item.endTime);
                item.startLunch && $("input[name='startLunch']").val(item.startLunch);
                item.endLunch && $("input[name='endLunch']").val(item.endLunch);

                $("#imagePreview").attr("src", item.image);
                $("#image").attr("data-id", this.id);


                if($("#category option").length == 1 ){

                    var categoryIntervalId = setInterval(() => {
                        if($("#category option").length > 2)
                            clearInterval(categoryIntervalId);
                        $('#serviceManageForm .category option[value="' + item.category._id + '"]').attr('selected', 'selected');
                    }, 1000)
                } else $('#serviceManageForm .category option[value="' + item.category._id + '"]').attr('selected', 'selected');

                item.workingDays && item.workingDays.forEach(function (day) {
                    $(".working-days input[value='" + day + "']").attr('checked', 'checked');
                });

                if (item.geoPosition && item.geoPosition.lat && item.geoPosition.lng) {
                    setMarker(item.geoPosition.lat, item.geoPosition.lng);
                    map.flyTo([item.geoPosition.lat, item.geoPosition.lng], 7);
                }

                $("#serviceManageForm")
                    .attr("action", "/services/" + this.id)
                    .attr("method", "put")

                drawSpecialists(item.specialists);
                buildTrumbowyg();
            });
    } else {
        drawSpecialists();
        buildTrumbowyg();
    }

    // buildTrumbowyg();

    // Build trumbowyg
    function buildTrumbowyg() {
        $('.trumbowyg').trumbowyg()
            .on("tbwchange", function (e) {
                $('#' + $(this).attr("data-id")).text(e.currentTarget.innerHTML)
            })
            .on("tbwpaste", function (e) {
                $('#' + $(this).attr("data-id")).text(e.currentTarget.innerHTML)
            })
            .on("tbwinit", function (e) {
                $('#' + $(this).attr("data-id")).text(e.currentTarget.innerHTML)
            })
    }

    function drawSpecialists(specialists = []) {
        $.get("/specialists", function (items) {
           items && items.forEach(function (item, key) {
               $(".specialists-list").append(`<div class="col-md-6">
                            <div class="statement_info_card specialists">
                                <div class="custom_checkbox">
                                    <input autocomplete="off" type="checkbox" ${specialists.map(function (it) { return it._id }).indexOf(item._id) !== -1 && 'checked' }  name="specialists" value="${item._id}" id="specialist${key}" >
                                    <label for="specialist${key}" style="width: 100%;">
                                        <span class="shadow_checkbox" style="    float: right;"></span>
                                        <div class="info_wrap">
                                            <img style="object-fit: cover" src="${item.image}" width="100" height="100" alt="">
                                            <div class="info">
                                                <p>${item.name}</p>
                                                <span>${item.position}</span>
                                            </div>
                                        </div>
                                    </label>
                            </div>
                        </div>`)
           })
        });
    }

    function initMap(lat=46.85, lon=29.0) {
        map = L.map('map', {
            zoomControl: false
        }).setView([lat, lon], 7);

        Icon = new L.icon({
            iconUrl: '/assets/images/v.png',
            iconAnchor: [17, 45],
            popupAnchor:  [0, -28]
        });

        myPositionIcon = new L.icon({
            iconUrl: '/assets/images/v.png',
            iconAnchor: [17, 45],
            popupAnchor:  [0, -28]
        });

        let myPositionIcon2 = new L.icon({
            iconUrl: '/icons/v2.png',
            iconAnchor: [17, 45],
            popupAnchor:  [0, -28]
        });


        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
            maxZoom: 18,
            attribution: 'VVVCorp',
            id: 'mapbox/streets-v11'
        }).addTo(map);

        L.control.zoom({
            position: 'bottomleft'
        }).addTo(map);


        map.on('dblclick', function (position) {
            removeAllLayers();
            setMarker(position.latlng.lat, position.latlng.lng, myPositionIcon, true);
        });

        L.Control.MyControl = L.Control.extend({
            onAdd: function(map) {
                var el = L.DomUtil.create('div', '');

                el.innerHTML =  `
                         <form id="searchMap" action="">
                            <div class="form-row">
                                <div class="form-group col-2">
                                 <a href="#" class="myLocation  my-control">
                                    <span class="lnr lnr-map-marker" style=" color: black; font-size: 30px;"></span>
                                 </a>
                                </div>
                                <div class="form-group col-8">
                                  <input autocomplete="off"  type="text" style="height: 37px; padding: 5px;" autocomplete="off" class="form-control" id="searchMapInput" placeholder="Moldova Chisinau Puskin 43">
                                </div>
                                <div class="form-group col-2">
                                    <button type="submit" style="height: 37px; padding: 5px;" class="btn btn-primary" >
                                        <span class="lnr lnr-magnifier"></span>
                                    </button>
                                </div>
                              </div>
                         </form>
                    `;
                return el;
            },

            // onRemove: function(map) {
            //     // Nothing to do here
            // }
        });

        L.control.myControl = function(opts) {
            return new L.Control.MyControl(opts);
        };

        L.control.myControl().addTo(map);

        $("#searchMap").on('submit', () => {
            let serach = $("#searchMapInput").val();
            $.get('https://eu1.locationiq.com/v1/search.php?key=5f33a29a4264e8&q='+ serach +'&format=json')
                .then((response) => {
                    // removeAllLayers();
                    //
                    // response.forEach((item, key) => {
                    //     let marker = L.marker([item.lat, item.lon], myPositionIcon2).addTo(map);
                    //     marker.bindPopup(item.display_name);
                    //     marker.on('click', onClick);
                    // });

                    map.flyTo([response[0].lat, response[0].lon], 12);
                });

            return false;
        });
        //
        $(".myLocation").on('click', () => {
            removeAllLayers();
            getLocation(); return false;
        });

    }

    function removeAllLayers() {
        let count = 0;
        map.eachLayer(function (layer) {
            if (count !== 0) {
                map.removeLayer(layer);
            }
            count ++;
        });
    }

    function onClick(e) {
        var popup = e.target.getPopup();
        var content = popup.getContent();
    }

    function setMarker(lat, lng, icon = Icon, draggable = false) {

        $("#geoPositionLat") && $("#geoPositionLat").attr("value", lat);
        $("#geoPositionLng") && $("#geoPositionLng").attr("value", lng);

        let marker = L.marker([lat, lng], {icon: icon, draggable: draggable }).addTo(map);
        marker.on('dragend', function(e) {
            removeAllLayers();
            setMarker(e.target._latlng.lat, e.target._latlng.lng, Icon, true)
        });

        // $.get(`https://us1.locationiq.com/v1/reverse.php?key=5f33a29a4264e8&lat=${lat}&lon=${lng}&format=json`)
        //     .then((response) => {
        //         marker.bindPopup(response.display_name);
        //         $("#geoLocationName") && $("#geoLocationName").attr("value", response.display_name);
        //     })
    }

    // get my geo location
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, function(error) {
                if (error.code == error.PERMISSION_DENIED)
                    alert("Geolocation is not supported or is disabled ((");
            });
        } else {
            alert("Geolocation is not supported by this browser.");
        }
    }

    function showPosition(position) {
        setMarker(position.coords.latitude, position.coords.longitude, myPositionIcon);
        map.flyTo([position.coords.latitude, position.coords.longitude], 15);
    }

    function getServicesByGeoPositiion () {
        var bounds = map.getBounds();
        let centerMap = {
            southLat: bounds._southWest.lat,
            southLng: bounds._southWest.lng,
            northLat: bounds._northEast.lat,
            northLng: bounds._northEast.lng
        };


        $.post('/services/list/geo', centerMap)
            .then((items) => {
                removeAllLayers();
                items.forEach((item, key) => {
                    let marker = L.marker([item.geoPosition.lat, item.geoPosition.lng], {icon: Icon}).addTo(map);
                    marker.bindPopup('<a href="/services/view/' + item._id + '"> ' + item.ruTitle + ' </a>');
                })
            })
    }
</script>
