<style>
    img{
        object-fit: cover;
    }

    .done {
        font-size: 30px;
        vertical-align: middle;
    }
</style>
    <!--================================
        START BREADCRUMB AREA
    =================================-->
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb">
                        <ul>
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <a href="/dashboard.html">Dashboard</a>
                            </li>
                            <li class="active">
                                <a href="#">Settings</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end /.col-md-12 -->
            </div>
            <!-- end /.row -->
        </div>
        <!-- end /.container -->
    </section>
    <!--================================
        END BREADCRUMB AREA
    =================================-->

    <!--================================
            START DASHBOARD AREA
    =================================-->
    <section class="dashboard-area">
        <div class="dashboard_contents">
            <div class="container">
                <form method="put" id="userManage" action=""  onSuccess="updateUserData(res)"  enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="information_module">
                                <a class="toggle_title" href="#collapse2" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapse1">
                                    <h4>
                                        <span translate="settings_personal-info"></span>
                                        <span class="lnr lnr-chevron-down"></span>
                                    </h4>
                                </a>

                                <div class="information__set toggle_module collapse show" id="collapse2">
                                    <div class="information_wrapper form--fields">
                                        <div class="form-group">
                                            <label for="acname" ><span translate="settings_name"></span><sup>*</sup>
                                            </label>
                                            <input type="text" name="name" id="acname" class="text_field" placeholder="User name" value="">
                                        </div>
                                        <div class="form-group">
                                            <label for="emailad"><span translate="settings_email"></span>
                                                <sup>*</sup>
                                            </label>
                                            <input type="email" name="email" id="emailad" class="text_field" placeholder="Email address" value="">
                                        </div>
                                        <div class="form-group">
                                            <label for="phone"><span translate="settings_phone"></span>
                                                <sup>*</sup>
                                            </label>
                                            <input type="tel" required name="phone" id="phone" class="text_field" placeholder="Phone number" value="+373">
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="password"><span translate="settings_password"></span>
                                                        <sup>*</sup>
                                                    </label>
                                                    <input type="password" id="password" onchange="addNameOnEdit(this)" class="text_field" placeholder="password">
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="conpassword"><span translate="settings_confirm-password"></span>
                                                        <sup>*</sup>
                                                    </label>
                                                    <input type="password" id="conpassword" onchange="addNameOnEdit(this)"  class="text_field" placeholder="re-enter password">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end /.information_wrapper -->
                                </div>
                                <!-- end /.information__set -->
                            </div>



                            <!-- end /.information_module -->
                        </div>
                        <!-- end /.col-md-6 -->

                        <div class="col-lg-6">
                            <div class="information_module">
                                <a class="toggle_title" href="#collapse3" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="collapse1">
                                    <h4><span translate="settings_image"></span>
                                        <span class="lnr lnr-chevron-down"></span>
                                    </h4>
                                </a>

                                <div class="information__set profile_images toggle_module collapse show" id="collapse3" style="">
                                    <div class="information_wrapper">
                                        <div class="profile_image_area">
                                            <canvas hidden id="canvas"></canvas>
                                            <img id="imagePreview" src="" width="100px" height="100px" alt="Author profile area">
                                            <div class="img_info">
                                                <p class="bold"></p>
                                                <p class="subtitle">JPG, GIF or PNG 100x100 px</p>
                                            </div>

                                            <label for="uploadImg" class="upload_btn">
                                                <input style="    width: 111px;" autocomplete="off" type="file"  accept="image/*" class="files" id="uploadImg">
                                                <input type="hidden" id="image" name="image">

                                                <span class="btn btn--sm btn--round" aria-hidden="true"><span style="color: white" translate="settings_upload-image"></span></span>
                                            </label>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <!-- end /.information_module -->

                            <!--<div class="information_module">-->
                                <!--<a class="toggle_title collapsed" href="#collapse5" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapse1">-->
                                    <!--<h4>Social Profiles-->
                                        <!--<span class="lnr lnr-chevron-down"></span>-->
                                    <!--</h4>-->
                                <!--</a>-->

                                <!--<div class="information__set social_profile toggle_module collapse" id="collapse5" style="">-->
                                    <!--<div class="information_wrapper">-->
                                        <!--<div class="social__single">-->
                                            <!--<div class="social_icon">-->
                                                <!--<span class="fa fa-facebook"></span>-->
                                            <!--</div>-->

                                            <!--<div class="link_field">-->
                                                <!--<input type="text" class="text_field" placeholder="ex: www.facebook.com/aazztech">-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--&lt;!&ndash; end /.social__single &ndash;&gt;-->

                                        <!--<div class="social__single">-->
                                            <!--<div class="social_icon">-->
                                                <!--<span class="fa fa-twitter"></span>-->
                                            <!--</div>-->

                                            <!--<div class="link_field">-->
                                                <!--<input type="text" class="text_field" placeholder="ex: www.twitter.com/aazztech">-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--&lt;!&ndash; end /.social__single &ndash;&gt;-->

                                        <!--<div class="social__single">-->
                                            <!--<div class="social_icon">-->
                                                <!--<span class="fa fa-google-plus"></span>-->
                                            <!--</div>-->

                                            <!--<div class="link_field">-->
                                                <!--<input type="text" class="text_field" placeholder="ex: www.google.com/aazztech">-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--&lt;!&ndash; end /.social__single &ndash;&gt;-->

                                        <!--<div class="social__single">-->
                                            <!--<div class="social_icon">-->
                                                <!--<span class="fa fa-behance"></span>-->
                                            <!--</div>-->

                                            <!--<div class="link_field">-->
                                                <!--<input type="text" class="text_field" placeholder="ex: www.behance.com/aazztech">-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--&lt;!&ndash; end /.social__single &ndash;&gt;-->

                                        <!--<div class="social__single">-->
                                            <!--<div class="social_icon">-->
                                                <!--<span class="fa fa-dribbble"></span>-->
                                            <!--</div>-->

                                            <!--<div class="link_field">-->
                                                <!--<input type="text" class="text_field" placeholder="ex: www.dribbble.com/aazztech">-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--&lt;!&ndash; end /.social__single &ndash;&gt;-->
                                    <!--</div>-->
                                    <!--&lt;!&ndash; end /.information_wrapper &ndash;&gt;-->
                                <!--</div>-->
                                <!--&lt;!&ndash; end /.social_profile &ndash;&gt;-->
                            <!--</div>-->
                            <!--&lt;!&ndash; end /.information_module &ndash;&gt;-->

                            <div class="information_module">
                                <a class="toggle_title " href="#collapse4" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapse1">
                                    <h4><span translate="settings_notification"></span>
                                        <span class="lnr lnr-chevron-down"></span>
                                    </h4>
                                </a>

                                <div class="information__set mail_setting toggle_module collapse show" id="collapse4" style="">
                                    <div class="information_wrapper">
                                        <div class="custom_checkbox">
                                            <input type="checkbox" onchange="return subscribe(this);" name="push-notif" id="push-notif" class="" >
                                            <label for="push-notif">
                                                <span class="shadow_checkbox"></span>
                                                <span class="radio_title"><span translate="settings_push-notif"></span></span>
                                            </label>
                                        </div>
                                        <div class="custom_checkbox">
                                            <input type="checkbox" id="opt8" class="" value="true" name="emailNotify">
                                            <label for="opt8">
                                                <span class="shadow_checkbox"></span>
                                                <span class="radio_title"><span translate="settings_email-notif"></span></span>
                                            </label>
                                        </div>
                                        <!-- end /.custom_checkbox -->
                                    </div>
                                    <!-- end /.information_wrapper -->
                                </div>
                                <!-- end /.information_module -->
                            </div>
                            <!-- end /.information_module -->
                        </div>
                        <!-- end /.col-md-6 -->

                        <div class="col-md-12">
                            <div class="dashboard_setting_btn">
                                <button type="submit" class="btn btn--round btn--md save" onclick="loading(this)" translate="save"></button>
                            </div>
                        </div>
                        <!-- end /.col-md-12 -->
                    </div>
                    <!-- end /.row -->
                </form>
                <!-- end /form -->
            </div>
            <!-- end /.container -->
        </div>
        <!-- end /.dashboard_menu_area -->
    </section>
    <!--================================
            END DASHBOARD AREA
    =================================-->

    <script>

        (function () {
            if($.isEmptyObject(loggedUser)){
                changeURL('/login.html');
                return;
            }

            document.getElementById('uploadImg').onchange = function(e) {
                var canvas = document.getElementById("canvas");
                var ctx = canvas.getContext("2d");
                var imgSrc = this;

                img=new Image();
                img.onload=function(item){
                    let maxWidth = 150; // Max width for the image
                    let maxHeight = 150;
                    let ratio = 0;

                    let width = this.width;
                    let height = this.height;


                    if (width > maxWidth && width > height) {
                        ratio = width / height;
                        height = maxWidth/ratio;
                        width = maxWidth; // Set new width

                    }else  if (height > maxHeight && height > width){
                        ratio = height / width;
                        width = maxHeight/ratio;
                        height = maxHeight;
                    }

                    canvas.width=width;
                    canvas.height=height;
                    ctx.drawImage(img,0,0,img.width,img.height,0,0,width,height);
                    document.getElementById('image').value = canvas.toDataURL("image/jpg", 0.5);
                    $('#imagePreview').attr("src", canvas.toDataURL("image/jpg", 0.5));
                };
                img.src = URL.createObjectURL(imgSrc.files[0]);
            };

            function failed() {
                console.error("The provided file couldn't be loaded as an Image media");
            }

            $("#userManage").attr("action", "/users/" + loggedUser._id);
            $("#userManage input[name='name']").val(loggedUser.name);
            $("#userManage input[name='email']").val(loggedUser.email);
            $("#userManage input[name='phone']").val(loggedUser.phone || '');
            $("#userManage input[name='emailNotify']").prop("checked", JSON.parse(loggedUser.emailNotify));
            $("#userManage input[name='push-notif']").prop("checked", Notification.permission === "granted" && loggedUser.endPoint);
            $("#imagePreview").attr("src", loggedUser.image || '/assets/images/m1.png');
        })()

        function updateUserData(el) {
            $(".author__avatar img").attr("src", $("#imagePreview").attr("src"))
            $(".name").text($("#userManage input[name='name']").val())
            loading($(".save"), false);
        }

        function loading(el, state = true) {
            if(state) $(el).text("Loading...");
            else $(el).html('<span class="done lnr lnr-checkmark-circle"></span>');
        }


    </script>
